Repository centreon/centreon-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-connectors, @centreon/owners-doc, @centreon/owners-cpp, @centreon/owners-perl, @centreon/owners-python, @centreon/owners-bash, @centreon/owners-robot-e2e, @centreon/owners-pipelines

Adding clients mode
  src/apps/eclipse/mosquitto/mqtt/mode/clients.pm
  src/apps/eclipse/mosquitto/mqtt/mode/uptime.pm
  src/centreon/plugins/mqtt.pm
  src/centreon/plugins/script_mqtt.pm
Owners: @centreon/owners-perl

Update for response time
  src/apps/eclipse/mosquitto/mqtt/mode/clients.pm
  src/apps/eclipse/mosquitto/mqtt/mode/uptime.pm
  src/centreon/plugins/mqtt.pm
Owners: @centreon/owners-perl

add stringvalue mode + fix
  src/apps/eclipse/mosquitto/mqtt/mode/clients.pm
  src/apps/eclipse/mosquitto/mqtt/mode/messages.pm
  src/apps/eclipse/mosquitto/mqtt/mode/numericvalue.pm
  src/apps/eclipse/mosquitto/mqtt/mode/stringvalue.pm
  src/apps/eclipse/mosquitto/mqtt/mode/uptime.pm
  src/centreon/plugins/mqtt.pm
Owners: @centreon/owners-perl

fix spellcheck
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-robot-e2e

Update default port + add robot file not auto (to test installation)
  .github/scripts/test-all-plugins.py
  src/apps/eclipse/mosquitto/mqtt/mode/stringvalue.pm
  src/centreon/plugins/mqtt.pm
  tests/robot/apps/eclipse/mosquitto/mqtt/eclipse-mosquitto-mqtt.robot
Owners: @centreon/owners-pipelines, @centreon/owners-perl, @centreon/owners-robot-e2e

robotidy + update robot tests for mosquitto
  tests/robot/apps/eclipse/mosquitto/mqtt/eclipse-mosquitto-mqtt.robot
  tests/robot/apps/protocols/http/collection-centreon-web.robot
  tests/robot/apps/protocols/snmp/hashicorp-password-manager.robot
  tests/robot/hardware/devices/camera/avigilon/snmp/memory.robot
  tests/robot/hardware/devices/camera/avigilon/snmp/temperature.robot
  tests/robot/network/citrix/netscaler/snmp/mode/components/netscaler-health.robot
Owners: @centreon/owners-robot-e2e

fix (reviews)
  src/apps/eclipse/mosquitto/mqtt/mode/numericvalue.pm
  src/apps/eclipse/mosquitto/mqtt/mode/stringvalue.pm
Owners: @centreon/owners-perl

wip
  packaging/centreon-plugin-Network-Juniper-Mseries-Api/deb.json
  packaging/centreon-plugin-Network-Juniper-Mseries-Api/rpm.json
Owners: @centreon/owners-pipelines

new(plugin): eclipse mosquitto mqtt (#5059)
  .github/scripts/test-all-plugins.py
  packaging/centreon-plugin-Applications-Eclipse-Mosquitto-Mqtt/deb.json
  packaging/centreon-plugin-Applications-Eclipse-Mosquitto-Mqtt/pkg.json
  packaging/centreon-plugin-Applications-Eclipse-Mosquitto-Mqtt/rpm.json
  src/apps/eclipse/mosquitto/mqtt/mode/clients.pm
  src/apps/eclipse/mosquitto/mqtt/mode/messages.pm
  src/apps/eclipse/mosquitto/mqtt/mode/numericvalue.pm
  src/apps/eclipse/mosquitto/mqtt/mode/stringvalue.pm
  src/apps/eclipse/mosquitto/mqtt/mode/uptime.pm
  src/apps/eclipse/mosquitto/mqtt/plugin.pm
  src/centreon/plugins/mqtt.pm
  src/centreon/plugins/script_mqtt.pm
  tests/resources/spellcheck/stopwords.t
  tests/robot/apps/eclipse/mosquitto/mqtt/eclipse-mosquitto-mqtt.robot
  tests/robot/apps/protocols/http/collection-centreon-web.robot
  tests/robot/apps/protocols/snmp/hashicorp-password-manager.robot
  tests/robot/hardware/devices/camera/avigilon/snmp/memory.robot
  tests/robot/hardware/devices/camera/avigilon/snmp/temperature.robot
  tests/robot/network/citrix/netscaler/snmp/mode/components/netscaler-health.robot
Owners: @centreon/owners-pipelines, @centreon/owners-perl, @centreon/owners-robot-e2e

enh(plugin): handle empty login/password
  src/centreon/plugins/mqtt.pm
Owners: @centreon/owners-perl

fix spellcheck
  src/centreon/plugins/mqtt.pm
Owners: @centreon/owners-perl

Update stopwords.t
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-robot-e2e

enh(plugin): handle empty login/password (#5060)
  src/centreon/plugins/mqtt.pm
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-perl, @centreon/owners-robot-e2e

wip
  src/network/juniper/common/junos/api/contrib/services_rpm.netconf
  src/network/juniper/common/junos/api/custom/netconf.pm
  src/network/juniper/common/junos/api/mode/listservicesrpm.pm
  src/network/juniper/common/junos/api/mode/servicesrpm.pm
  src/network/juniper/mseries/api/mode/cache.pm
  src/network/juniper/mseries/api/plugin.pm
Owners: @centreon/owners-connectors, @centreon/owners-perl

rever
  src/cloud/aws/cloudtrail/mode/countevents.pm
Owners: @centreon/owners-perl

rever
  src/hardware/sensors/rittal/cmc3/snmp/mode/listdevices.pm
  src/hardware/sensors/rittal/cmc3/snmp/mode/load.pm
  src/hardware/sensors/rittal/cmc3/snmp/mode/unitstatus.pm
  src/hardware/sensors/rittal/cmc3/snmp/mode/uptime.pm
  src/hardware/sensors/rittal/cmc3/snmp/plugin.pm
  src/network/aruba/cppm/snmp/mode/radius.pm
  src/network/aruba/cppm/snmp/mode/repositories.pm
  src/network/aruba/cppm/snmp/plugin.pm
  src/network/cambium/cnpilot/snmp/mode/connectionstatus.pm
  src/network/cambium/cnpilot/snmp/mode/listradios.pm
  src/network/fortinet/fortimail/snmp/mode/load.pm
  src/network/fortinet/fortimail/snmp/mode/queues.pm
Owners: @centreon/owners-perl

wip
  src/hardware/sensors/rittal/cmc3/snmp/mode/devices.pm
Owners: @centreon/owners-perl

fix(protocols/http): mode json-content missing expression
  src/apps/protocols/http/mode/jsoncontent.pm
Owners: @centreon/owners-perl

fix(spell): added stopwords and fixed spelling errors
  src/apps/protocols/http/mode/jsoncontent.pm
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-perl, @centreon/owners-robot-e2e

fix(spell): last mistake...
  src/apps/protocols/http/mode/jsoncontent.pm
Owners: @centreon/owners-perl

fix(protocols/http): mode json-content missing expression (#5064)
  src/apps/protocols/http/mode/jsoncontent.pm
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-perl, @centreon/owners-robot-e2e

CTOR-174 Change Pull request template (#5055)
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @centreon/owners-pipelines

Add Paws dependencies for el8/9
  .github/workflows/perl-cpan-libraries.yml
Owners: @centreon/owners-pipelines

Update for Debian
  .github/workflows/perl-cpan-libraries.yml
Owners: @centreon/owners-pipelines

Add AWS tests
  tests/robot/cloud/aws/cloudtrail/cloud-aws-cloudtrail.json
  tests/robot/cloud/aws/cloudtrail/cloud-aws-cloudtrail.robot
Owners: @centreon/owners-robot-e2e

ench(vmware-connector) Change error message to help user debug
  connectors/vmware/src/centreon/vmware/common.pm
Owners: @centreon/owners-perl

Mapp the Network port and other correspondances
  src/network/keysight/nvos/restapi/mode/ports.pm
Owners: @centreon/owners-perl

Miss change
  src/network/keysight/nvos/restapi/mode/ports.pm
Owners: @centreon/owners-perl

HP standard - add vrrp mode
  src/network/hp/standard/snmp/plugin.pm
Owners: @centreon/owners-perl

Windows local - add italian and germin support for sessions
  src/os/windows/local/conf/qwinsta.xml
Owners: @centreon/owners-connectors

Fix special char
  src/os/windows/wsman/mode/listinterfaces.pm
Owners: @centreon/owners-perl

dcdiag - add italian and german language support
  src/apps/microsoft/activedirectory/local/conf/dcdiag.xml
Owners: @centreon/owners-connectors

dcdiag - add german language support
  src/apps/microsoft/activedirectory/local/mode/dcdiag.pm
Owners: @centreon/owners-perl

WS hardware - add support for ex4100 model
  src/storage/wd/nas/snmp/mode/hardware.pm
Owners: @centreon/owners-perl

WD list volume - add support for ex4100 model
  src/storage/wd/nas/snmp/mode/listvolumes.pm
Owners: @centreon/owners-perl

WD volume - add support for ex4100 model
  src/storage/wd/nas/snmp/mode/volumes.pm
Owners: @centreon/owners-perl

ench(vmware-connector) Change error message to help user debug (#5066)
  connectors/vmware/src/centreon/vmware/common.pm
Owners: @centreon/owners-perl

fix(cpan-libs): add rpm_dependencies for rpm build of Mojo
  .github/workflows/perl-cpan-libraries.yml
Owners: @centreon/owners-pipelines

new stack mode
  src/network/hp/procurve/snmp/mode/stack.pm
Owners: @centreon/owners-perl

new mode "stack"
  src/network/hp/procurve/snmp/plugin.pm
Owners: @centreon/owners-perl

.github/CODEOWNERS:

*                   @centreon/owners-connectors

*.md                @centreon/owners-doc
*.mdx               @centreon/owners-doc

*.cmake             @centreon/owners-cpp
CMakeLists.txt      @centreon/owners-cpp
Makefile            @centreon/owners-cpp

*.pm                @centreon/owners-perl
*.pl                @centreon/owners-perl

*.py                @centreon/owners-python

*.sh                @centreon/owners-bash

tests/**            @centreon/owners-robot-e2e

.github/**          @centreon/owners-pipelines
packaging/**        @centreon/owners-pipelines
selinux/**          @centreon/owners-pipelines
.github/scripts/pod_spell_check.t  @centreon/owners-perl
