Repository centreon/centreon-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-connectors, @centreon/owners-doc, @centreon/owners-cpp, @centreon/owners-perl, @centreon/owners-python, @centreon/owners-bash, @centreon/owners-robot-e2e, @centreon/owners-pipelines

.github/CODEOWNERS:

*                   @centreon/owners-connectors

*.md                @centreon/owners-doc
*.mdx               @centreon/owners-doc

*.cmake             @centreon/owners-cpp
CMakeLists.txt      @centreon/owners-cpp
Makefile            @centreon/owners-cpp

*.pm                @centreon/owners-perl
*.pl                @centreon/owners-perl

*.py                @centreon/owners-python

*.sh                @centreon/owners-bash

tests/**            @centreon/owners-robot-e2e

.github/**          @centreon/owners-pipelines
packaging/**        @centreon/owners-pipelines
selinux/**          @centreon/owners-pipelines
.github/scripts/pod_spell_check.t  @centreon/owners-perl

enh(custommode): add support of 3CX v18 and higher (#5093)
  src/apps/voip/3cx/restapi/custom/api.pm
  src/apps/voip/3cx/restapi/plugin.pm
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-perl, @centreon/owners-robot-e2e

fix(custommode): the POST query requires a body, even empty + tests
  src/cloud/vmware/velocloud/restapi/custom/api.pm
  tests/robot/cloud/vmware/velocloud/restapi/edgestatus.robot
  tests/robot/cloud/vmware/velocloud/restapi/velocloud.mockoon.json
Owners: @centreon/owners-perl, @centreon/owners-robot-e2e

enh(tests): improved the tests
  tests/robot/cloud/vmware/velocloud/restapi/edgestatus.robot
  tests/robot/cloud/vmware/velocloud/restapi/velocloud.mockoon.json
Owners: @centreon/owners-robot-e2e

enh(tests): added discovery
  tests/robot/cloud/vmware/velocloud/restapi/listedges.robot
Owners: @centreon/owners-robot-e2e

fix(spellchecks): added new stopwords
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-robot-e2e

Ctor 396 pack centreon plugin cloud vmware velocloud restapi mode list edges don t retrieve informations and get http code 400 (#5133)
  src/cloud/vmware/velocloud/restapi/custom/api.pm
  tests/resources/spellcheck/stopwords.t
  tests/robot/cloud/vmware/velocloud/restapi/edgestatus.robot
  tests/robot/cloud/vmware/velocloud/restapi/listedges.robot
  tests/robot/cloud/vmware/velocloud/restapi/velocloud.mockoon.json
Owners: @centreon/owners-perl, @centreon/owners-robot-e2e

fix tests
  tests/robot/apps/backup/rubrik/restapi/jobs.robot
Owners: @centreon/owners-robot-e2e

new(test): first unit test file :')
  tests/centreon/plugins/perfdata.t
Owners: @centreon/owners-robot-e2e

Initiating automated unit tests in CI
  .github/actions/test-code/action.yml
  .github/docker/unit-tests/Dockerfile.unit-tests-alma8
  .github/docker/unit-tests/Dockerfile.unit-tests-alma9
  .github/docker/unit-tests/Dockerfile.unit-tests-bookworm
  .github/docker/unit-tests/Dockerfile.unit-tests-bullseye
  .github/docker/unit-tests/Dockerfile.unit-tests-jammy
  .github/scripts/test-all-plugins.py
  .github/workflows/plugins.yml
Owners: @centreon/owners-pipelines

fix(gha): added the missing workflow to build the docker images
  .github/workflows/docker-builder-testing-code.yml
Owners: @centreon/owners-pipelines

refacto(tests): harmonized all related files and folders names --> unit-tests
  .github/actions/unit-tests/action.yml
  .github/workflows/docker-builder-unit-tests.yml
  .github/workflows/plugins.yml
Owners: @centreon/owners-pipelines

fix(workflow): fixed wrong image names
  .github/workflows/plugins.yml
Owners: @centreon/owners-pipelines

fix(workflow): fixed bad path of unit-tests action
  .github/workflows/plugins.yml
Owners: @centreon/owners-pipelines

fix(workflow): the previous fix was not right
  .github/workflows/plugins.yml
Owners: @centreon/owners-pipelines

DUMMY COMMIT (TO BE UNDONE) TO RUN ALL ROBOT TESTS
  src/centreon/plugins/perfdata.pm
Owners: @centreon/owners-perl

Update tests/centreon/plugins/perfdata.t
  tests/centreon/plugins/perfdata.t
Owners: @centreon/owners-robot-e2e

Update .github/workflows/plugins.yml
  .github/workflows/plugins.yml
Owners: @centreon/owners-pipelines

Update plugins.yml
  .github/workflows/plugins.yml
Owners: @centreon/owners-pipelines

remove trailing spaces
  .github/workflows/plugins.yml
Owners: @centreon/owners-pipelines

Update Dockerfile.unit-tests-alma8
  .github/docker/unit-tests/Dockerfile.unit-tests-alma8
Owners: @centreon/owners-pipelines

Update Dockerfile.unit-tests-alma9
  .github/docker/unit-tests/Dockerfile.unit-tests-alma9
Owners: @centreon/owners-pipelines

fix(plugin): the SNMP communities were not retrieved properly from the IPFabric API
  src/apps/ipfabric/mode/discovery.pm
  tests/apps/ipfabric/discovery.robot
  tests/apps/ipfabric/ipfabric.mockoon.json
Owners: @centreon/owners-perl, @centreon/owners-robot-e2e

fix
  .github/workflows/perl-cpan-libraries.yml
Owners: @centreon/owners-pipelines

fix
  .github/workflows/perl-cpan-libraries.yml
Owners: @centreon/owners-pipelines

fix
  .github/actions/deb-delivery/action.yml
  .github/workflows/get-environment.yml
  .github/workflows/perl-cpan-libraries.yml
Owners: @centreon/owners-pipelines

add(network::cisco::standard::snmp): add option --add-fc-fe-errors
  src/centreon/common/cisco/standard/snmp/mode/interfaces.pm
Owners: @centreon/owners-perl

If statement added when $total == 0
  src/apps/backup/commvault/commserve/restapi/mode/storagepools.pm
Owners: @centreon/owners-perl

ajout code pour faire fonctionner le filtre avec l'option --container
  src/apps/vmware/connector/mode/statconnectors.pm
Owners: @centreon/owners-perl

suppression des fichiers du plugin fortiauthentificator/resapi
  src/network/fortinet/fortiauthenticator/restapi/custom/api.pm
  src/network/fortinet/fortiauthenticator/restapi/mode/fortitokens.pm
  src/network/fortinet/fortiauthenticator/restapi/plugin.pm
Owners: @centreon/owners-perl

enh(network::keysight::nvos::restapi): ports and license mode
  src/network/keysight/nvos/restapi/mode/license.pm
  src/network/keysight/nvos/restapi/mode/listdynamicfilters.pm
  src/network/keysight/nvos/restapi/mode/listports.pm
  src/network/keysight/nvos/restapi/mode/ports.pm
  src/network/keysight/nvos/restapi/plugin.pm
Owners: @centreon/owners-perl

add modes ha-status, license, list-vpns & vpn-status
  src/network/cyberoam/snmp/plugin.pm
Owners: @centreon/owners-perl

Add files via upload
  src/network/cyberoam/snmp/mode/hastatus.pm
  src/network/cyberoam/snmp/mode/license.pm
  src/network/cyberoam/snmp/mode/listvpns.pm
  src/network/cyberoam/snmp/mode/vpnstatus.pm
Owners: @centreon/owners-perl

Update vpnstatus.pm help
  src/network/cyberoam/snmp/mode/vpnstatus.pm
Owners: @centreon/owners-perl

add contribution PR to enhance langage handling
  src/apps/microsoft/activedirectory/local/conf/dcdiag.xml
  src/apps/microsoft/activedirectory/local/mode/dcdiag.pm
  src/os/windows/local/conf/qwinsta.xml
Owners: @centreon/owners-connectors, @centreon/owners-perl

new huawei standard snmp
  src/centreon/common/huawei/standard/snmp/mode/components/fan.pm
  src/centreon/common/huawei/standard/snmp/mode/components/temperature.pm
  src/centreon/common/huawei/standard/snmp/mode/cpu.pm
  src/centreon/common/huawei/standard/snmp/mode/hardware.pm
  src/centreon/common/huawei/standard/snmp/mode/interfaces.pm
  src/centreon/common/huawei/standard/snmp/mode/memory.pm
Owners: @centreon/owners-perl

Delete src/network/huawei/snmp/mode directory
  src/network/huawei/snmp/mode/components/fan.pm
  src/network/huawei/snmp/mode/components/temperature.pm
  src/network/huawei/snmp/mode/cpu.pm
  src/network/huawei/snmp/mode/hardware.pm
  src/network/huawei/snmp/mode/interfaces.pm
  src/network/huawei/snmp/mode/memory.pm
Owners: @centreon/owners-perl

Delete src/network/huawei/snmp/plugin.pm
  src/network/huawei/snmp/plugin.pm
Owners: @centreon/owners-perl

network-huawei-standard-snmp-plugin
  src/network/huawei/standard/snmp/plugin.pm
Owners: @centreon/owners-perl

new network-huawei-wlc-snmp-plugin
  src/network/huawei/wlc/snmp/mode/aphealth.pm
  src/network/huawei/wlc/snmp/mode/apradio.pm
  src/network/huawei/wlc/snmp/mode/apstatus.pm
  src/network/huawei/wlc/snmp/mode/listaps.pm
  src/network/huawei/wlc/snmp/mode/listradios.pm
  src/network/huawei/wlc/snmp/plugin.pm
Owners: @centreon/owners-perl

Fix spellcheck
  src/apps/microsoft/activedirectory/local/mode/dcdiag.pm
Owners: @centreon/owners-perl
