Repository centreon/centreon-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-connectors, @centreon/owners-doc, @centreon/owners-cpp, @centreon/owners-perl, @centreon/owners-python, @centreon/owners-bash, @centreon/owners-robot-e2e, @centreon/owners-pipelines

.github/CODEOWNERS:

*                   @centreon/owners-connectors

*.md                @centreon/owners-doc
*.mdx               @centreon/owners-doc

*.cmake             @centreon/owners-cpp
CMakeLists.txt      @centreon/owners-cpp
Makefile            @centreon/owners-cpp

*.pm                @centreon/owners-perl
*.pl                @centreon/owners-perl

*.py                @centreon/owners-python

*.sh                @centreon/owners-bash

tests/**            @centreon/owners-robot-e2e

.github/**          @centreon/owners-pipelines
packaging/**        @centreon/owners-pipelines
selinux/**          @centreon/owners-pipelines
.github/scripts/pod_spell_check.t  @centreon/owners-perl

add(tests): added tests for hyperv 2022
  tests/robot/apps/microsoft/hyperv/2012/local/nodeintegrationservice-2022.json
  tests/robot/apps/microsoft/hyperv/2012/local/nodeintegrationservice.robot
Owners: @centreon/owners-robot-e2e

fix(powershell): bad source for data
  src/centreon/common/powershell/hyperv/2012/nodeintegrationservice.pm
Owners: @centreon/owners-perl

wip: attempt to fix without breaking the former behaviour
  src/apps/microsoft/hyperv/2012/local/mode/nodeintegrationservice.pm
Owners: @centreon/owners-perl

enh(plugin): adapted powershell to make it compatible with hyperv 2022
  src/centreon/common/powershell/hyperv/2012/nodeintegrationservice.pm
Owners: @centreon/owners-perl

fix(tests): various changes
  .github/scripts/pod_spell_check.t
  src/apps/trendmicro/iwsva/snmp/plugin.pm
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-perl, @centreon/owners-robot-e2e

saasalarm.pm
  src/network/nokia/timos/snmp/mode/sasalarm.pm
Owners: @centreon/owners-perl

insert sas-alarm in plugin.pm
  src/network/nokia/timos/snmp/plugin.pm
Owners: @centreon/owners-perl

fix(pod): fixed typos
  src/centreon/common/powershell/hyperv/2012/nodeintegrationservice.pm
Owners: @centreon/owners-perl

Update sasalarm.pm
  src/network/nokia/timos/snmp/mode/sasalarm.pm
Owners: @centreon/owners-perl

add(mode): cisco meraki vpn tunnels
  src/network/cisco/meraki/cloudcontroller/restapi/custom/api.pm
  src/network/cisco/meraki/cloudcontroller/restapi/mode/devices.pm
  src/network/cisco/meraki/cloudcontroller/restapi/mode/listvpntunnels.pm
  src/network/cisco/meraki/cloudcontroller/restapi/mode/networks.pm
  src/network/cisco/meraki/cloudcontroller/restapi/mode/vpntunnels.pm
  src/network/cisco/meraki/cloudcontroller/restapi/plugin.pm
Owners: @centreon/owners-perl

wip
  src/network/cisco/meraki/cloudcontroller/restapi/custom/api.pm
  src/network/cisco/meraki/cloudcontroller/restapi/mode/listvpntunnels.pm
  src/network/cisco/meraki/cloudcontroller/restapi/mode/vpntunnels.pm
Owners: @centreon/owners-perl

Update listinterfaces.pm - special char in status (#4901)
  src/os/windows/wsman/mode/listinterfaces.pm
Owners: @centreon/owners-perl

enh(tests): added tests + troubleshooting message for cache
  src/network/cisco/meraki/cloudcontroller/restapi/custom/api.pm
  tests/robot/network/cisco/meraki/cloudcontroller/restapi/meraki.mockoon.json
  tests/robot/network/cisco/meraki/cloudcontroller/restapi/vpntunnels.robot
Owners: @centreon/owners-perl, @centreon/owners-robot-e2e

enh(tests): cleaned mockoon file + robot test
  tests/robot/network/cisco/meraki/cloudcontroller/restapi/meraki.mockoon.json
  tests/robot/network/cisco/meraki/cloudcontroller/restapi/vpntunnels.robot
Owners: @centreon/owners-robot-e2e

fix(cpan-libs): force build
  .github/workflows/perl-cpan-libraries.yml
Owners: @centreon/owners-pipelines

Update awscli.pm
  src/cloud/aws/custom/awscli.pm
Owners: @centreon/owners-perl

fix(spelling): added stopwords and fixed mistakes
  src/network/cisco/meraki/cloudcontroller/restapi/mode/devices.pm
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-perl, @centreon/owners-robot-e2e

fix(cpan-libs): force build
  .github/workflows/perl-cpan-libraries.yml
Owners: @centreon/owners-pipelines

enh(coding): refactored code after review
  src/apps/microsoft/hyperv/2012/local/mode/nodeintegrationservice.pm
Owners: @centreon/owners-perl

Update stopwords.t
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-robot-e2e

Update vpntunnels.robot
  tests/robot/network/cisco/meraki/cloudcontroller/restapi/vpntunnels.robot
Owners: @centreon/owners-robot-e2e

fix(help): added missing option --filter-link-name
  src/network/cisco/meraki/cloudcontroller/restapi/mode/devices.pm
Owners: @centreon/owners-perl

add(mode): new vpn tunnels mode to meraki api plugin + tests (#5084)
  src/network/cisco/meraki/cloudcontroller/restapi/custom/api.pm
  src/network/cisco/meraki/cloudcontroller/restapi/mode/devices.pm
  src/network/cisco/meraki/cloudcontroller/restapi/mode/listvpntunnels.pm
  src/network/cisco/meraki/cloudcontroller/restapi/mode/networks.pm
  src/network/cisco/meraki/cloudcontroller/restapi/mode/vpntunnels.pm
  src/network/cisco/meraki/cloudcontroller/restapi/plugin.pm
  tests/resources/spellcheck/stopwords.t
  tests/robot/network/cisco/meraki/cloudcontroller/restapi/meraki.mockoon.json
  tests/robot/network/cisco/meraki/cloudcontroller/restapi/vpntunnels.robot
Owners: @centreon/owners-perl, @centreon/owners-robot-e2e

fix(gorgone) fix Mojo::IOLoop::Signal dependency on rpm for gorgone (#5079)
  .github/workflows/perl-cpan-libraries.yml
Owners: @centreon/owners-pipelines

Ctor 146 escalation microsoft hyperv 2012 add option for powershell module version in node integration service mode (#5080)
  .github/scripts/pod_spell_check.t
  src/apps/microsoft/hyperv/2012/local/mode/nodeintegrationservice.pm
  src/apps/trendmicro/iwsva/snmp/plugin.pm
  src/centreon/common/powershell/hyperv/2012/nodeintegrationservice.pm
  tests/resources/spellcheck/stopwords.t
  tests/robot/apps/microsoft/hyperv/2012/local/nodeintegrationservice-2022.json
  tests/robot/apps/microsoft/hyperv/2012/local/nodeintegrationservice.robot
Owners: @centreon/owners-perl, @centreon/owners-robot-e2e

wip: reindented the fragmentation query
  src/database/mysql/mode/databasessize.pm
Owners: @centreon/owners-perl

enh(plugin): improve fragmentation calculation
  src/database/mysql/mode/databasessize.pm
Owners: @centreon/owners-perl

enh(help): improve the help messages
  src/database/mysql/mode/databasessize.pm
Owners: @centreon/owners-perl

Ctor 264 plugin database mysql mode databasesize change the way we calculate the fragmentation rate (#5088)
  src/database/mysql/mode/databasessize.pm
Owners: @centreon/owners-perl

fix(stormshield/api): mode interfaces wrong mapped values'
  src/network/stormshield/api/mode/interfaces.pm
Owners: @centreon/owners-perl

update (alphabetical order)
  .github/workflows/perl-cpan-libraries.yml
Owners: @centreon/owners-pipelines

use alma8 for packaging for plugins packaging
  .github/workflows/plugins.yml
Owners: @centreon/owners-pipelines

force trigger on packaging
  src/centreon/common/adic/tape/snmp/mode/hardware.pm
Owners: @centreon/owners-perl

revert removal of el7 distrib based packaging steps
  .github/workflows/plugins.yml
Owners: @centreon/owners-pipelines

Revert "force trigger on packaging"
  src/centreon/common/adic/tape/snmp/mode/hardware.pm
Owners: @centreon/owners-perl

use alma8 for packaging for plugins packaging (#5095)
  .github/workflows/plugins.yml
Owners: @centreon/owners-pipelines

add(packaging): see comments
  packaging/centreon-plugin-Network-Nokia-Isam-Snmp/deb.json
  packaging/centreon-plugin-Network-Nokia-Isam-Snmp/pkg.json
  packaging/centreon-plugin-Network-Nokia-Isam-Snmp/rpm.json
  src/network/nokia/isam/snmp/plugin.pm
Owners: @centreon/owners-pipelines, @centreon/owners-perl

fix(help): fixed remaining typos
  src/network/nokia/isam/snmp/mode/hubsapusage.pm
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-perl, @centreon/owners-robot-e2e

wip: refactored code alcatel --> nokia
  src/network/nokia/isam/snmp/mode/components/cardtemperature.pm
  src/network/nokia/isam/snmp/mode/components/resources.pm
  src/network/nokia/isam/snmp/mode/components/sfp.pm
  src/network/nokia/isam/snmp/mode/cpu.pm
  src/network/nokia/isam/snmp/mode/hardware.pm
  src/network/nokia/isam/snmp/mode/hubsapusage.pm
  src/network/nokia/isam/snmp/mode/listhubsap.pm
  src/network/nokia/isam/snmp/mode/memory.pm
  src/network/nokia/isam/snmp/plugin.pm
Owners: @centreon/owners-perl

wip: moving Alcatel Isam to Nokia Isam
  src/network/nokia/isam/snmp/mode/components/cardtemperature.pm
  src/network/nokia/isam/snmp/mode/components/resources.pm
  src/network/nokia/isam/snmp/mode/components/sfp.pm
  src/network/nokia/isam/snmp/mode/cpu.pm
  src/network/nokia/isam/snmp/mode/hardware.pm
  src/network/nokia/isam/snmp/mode/hubsapusage.pm
  src/network/nokia/isam/snmp/mode/listhubsap.pm
  src/network/nokia/isam/snmp/mode/memory.pm
  src/network/nokia/isam/snmp/plugin.pm
Owners: @centreon/owners-perl
