Repository centreon/centreon-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-connectors, @centreon/owners-doc, @centreon/owners-cpp, @centreon/owners-perl, @centreon/owners-python, @centreon/owners-bash, @centreon/owners-robot-e2e, @centreon/owners-pipelines

rename
  tests/robot/network/teldat/snmp/cellsradio.snmpwalk
Owners: @centreon/owners-robot-e2e

rename
  src/network/teldat/snmp/plugin.pm
  tests/robot/network/teldat/snmp/cellsradio.snmpwalk
Owners: @centreon/owners-perl, @centreon/owners-robot-e2e

forgot to add a file
  tests/robot/network/teldat/snmp/teldat.snmpwalk
Owners: @centreon/owners-robot-e2e

to run test
  src/network/teldat/snmp/plugin.pm
Owners: @centreon/owners-perl

Fix spellcheck
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-robot-e2e

Update discovery.pm
  src/apps/automation/ansible/tower/mode/discovery.pm
Owners: @centreon/owners-perl

enh(mode): rationalized the get of communities + tests
  src/apps/ipfabric/mode/discovery.pm
  tests/robot/apps/ipfabric/discovery.robot
  tests/robot/apps/ipfabric/ipfabric.mockoon.json
Owners: @centreon/owners-perl, @centreon/owners-robot-e2e

Update stopwords.t
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-robot-e2e

Add workflowapi custom mode
  src/notification/microsoft/office365/teams/custom/workflowapi.pm
  src/notification/microsoft/office365/teams/mode/alert.pm
  src/notification/microsoft/office365/teams/plugin.pm
Owners: @centreon/owners-perl

Add the ability to upload the plugins as artifacts by adding a label to the PR
  .github/actions/package-nfpm/action.yml
Owners: @centreon/owners-pipelines

Apply suggestions from code review
  src/network/teldat/snmp/mode/cellsradio.pm
Owners: @centreon/owners-perl

fix(typo): fixed my mistake + started looking at the test issues
  src/network/teldat/snmp/mode/cellsradio.pm
  tests/robot/network/teldat/snmp/teldat.robot
Owners: @centreon/owners-perl, @centreon/owners-robot-e2e

fix(tests): took cellsradio tests out of teldat.robot + fixed
  tests/robot/network/teldat/snmp/cellsradio.robot
  tests/robot/network/teldat/snmp/teldat.robot
Owners: @centreon/owners-robot-e2e

modifiying tests
  .gitignore
  tests/resources/resources.resource
  tests/robot/apps/automation/ansible/tower/hosts.robot
  tests/robot/apps/automation/ansible/tower/jobs.robot
  tests/robot/apps/microsoft/hyperv/2012/local/nodeintegrationservice.robot
  tests/robot/apps/protocols/http/collection-centreon-web.robot
  tests/robot/apps/protocols/snmp/collection-sputnik.robot
  tests/robot/apps/protocols/snmp/hashicorp-password-manager.robot
  tests/robot/cloud/azure/policyinsights/policystates/cloud-azure-policyinsights-policystates.robot
  tests/robot/hardware/devices/camera/avigilon/snmp/memory.robot
  tests/robot/hardware/devices/camera/avigilon/snmp/storage.robot
  tests/robot/hardware/devices/camera/avigilon/snmp/temperature.robot
  tests/robot/hardware/sensors/apc/snmp/hardware-sensors-apc-snmp.robot
  tests/robot/hardware/ups/inmatics/sputnik/snmp/hardware-ups-sputnik-snmp.robot
  tests/robot/hardware/ups/socomec/netvision/snmp/hardware-ups-socomec-netvision-snmp.robot
  tests/robot/network/aruba/instant/snmp/aruba-instant-ap-usage.robot
  tests/robot/network/cisco/meraki/cloudcontroller/restapi/vpntunnels.robot
  tests/robot/network/citrix/netscaler/snmp/mode/components/netscaler-health.robot
  tests/robot/network/fortinet/fortigate/snmp/network-fortinet-fortigate-snmp.robot
Owners: @centreon/owners-connectors, @centreon/owners-robot-e2e

suppression fichier car pas important
  src/network/fortinet/fortiauthenticator/restapi/mode/.fortitokens.pm.swp
Owners: @centreon/owners-connectors

Ctor 460 teldat snmp cells radio (#5102)
  src/network/teldat/snmp/mode/cellsradio.pm
  src/network/teldat/snmp/mode/cpu.pm
  src/network/teldat/snmp/mode/interfaces.pm
  src/network/teldat/snmp/mode/listcellsradio.pm
  src/network/teldat/snmp/mode/memory.pm
  src/network/teldat/snmp/mode/uptime.pm
  src/network/teldat/snmp/plugin.pm
  tests/resources/spellcheck/stopwords.t
  tests/robot/network/teldat/snmp/cellsradio.robot
  tests/robot/network/teldat/snmp/teldat.robot
Owners: @centreon/owners-perl, @centreon/owners-robot-e2e

suppression fichier api.pm
  src/network/fortinet/fortiauthenticator/restapi/custom/api.pm
Owners: @centreon/owners-perl

MAJ fichier api.pm
  src/network/fortinet/fortiauthenticator/restapi/custom/api.pm
Owners: @centreon/owners-perl

suppression fichier mode fortitokens
  src/network/fortinet/fortiauthenticator/restapi/mode/fortitokens.pm
Owners: @centreon/owners-perl

MAJ fichier mode fortitokens
  src/network/fortinet/fortiauthenticator/restapi/mode/fortitokens.pm
Owners: @centreon/owners-perl

modfiying tests
  tests/robot/network/teldat/snmp/cpu.robot
  tests/robot/network/teldat/snmp/memory.robot
Owners: @centreon/owners-robot-e2e

MAJ aide mode fortitokens
  src/network/fortinet/fortiauthenticator/restapi/mode/fortitokens.pm
Owners: @centreon/owners-perl

adding gitignire
  .gitignore
Owners: @centreon/owners-connectors

Adding hosts test + fix a test to run locally
  tests/robot/apps/automation/ansible/tower/ansible_tower.json
  tests/robot/apps/automation/ansible/tower/hosts.robot
  tests/robot/apps/microsoft/hyperv/2012/local/nodeintegrationservice.robot
Owners: @centreon/owners-robot-e2e

Use global variables for tests (usefull for local tests) + robotidy
  tests/resources/import.resource
  tests/resources/resources.resource
  tests/robot/apps/automation/ansible/tower/ansible_tower.json
  tests/robot/apps/automation/ansible/tower/hosts.robot
  tests/robot/apps/microsoft/hyperv/2012/local/nodeintegrationservice.robot
  tests/robot/apps/protocols/http/collection-centreon-web.robot
  tests/robot/apps/protocols/snmp/collection-sputnik.robot
  tests/robot/apps/protocols/snmp/hashicorp-password-manager.robot
  tests/robot/cloud/azure/policyinsights/policystates/cloud-azure-policyinsights-policystates.robot
  tests/robot/hardware/devices/camera/avigilon/snmp/memory.robot
  tests/robot/hardware/devices/camera/avigilon/snmp/storage.robot
  tests/robot/hardware/devices/camera/avigilon/snmp/temperature.robot
  tests/robot/hardware/kvm/avocent/acs/8000/hardware-kvm-avocent-acs-8000.robot
  tests/robot/hardware/sensors/apc/snmp/hardware-sensors-apc-snmp.robot
  tests/robot/hardware/ups/inmatics/sputnik/snmp/hardware-ups-sputnik-snmp.robot
  tests/robot/hardware/ups/socomec/netvision/snmp/hardware-ups-socomec-netvision-snmp.robot
  tests/robot/hardware/ups/standard/snmp/hardware-ups-standard-snmp.robot
  tests/robot/network/aruba/instant/snmp/aruba-instant-ap-usage.robot
  tests/robot/network/cisco/meraki/cloudcontroller/restapi/vpntunnels.robot
  tests/robot/network/citrix/netscaler/snmp/mode/components/netscaler-health.robot
  tests/robot/network/fortinet/fortigate/snmp/network-fortinet-fortigate-snmp.robot
  tests/robot/network/teldat/snmp/teldat.robot
  tests/robot/os/linux/snmp/list-diskio.robot
  tests/robot/os/linux/snmp/network-interfaces.robot
  tests/robot/os/windows/snmp/services.robot
  tests/robot/storage/datacore/restapi/storage-datacore-restapi.robot
  tests/robot/storage/synology/snmp/storage-synology-snmp.robot
Owners: @centreon/owners-robot-e2e

test
  tests/resources/resources.resource
  tests/robot/apps/automation/ansible/tower/jobs.robot
Owners: @centreon/owners-robot-e2e

new test mode(jobs)
  tests/robot/apps/automation/ansible/tower/jobs.robot
Owners: @centreon/owners-robot-e2e

format update to run tests
  src/apps/automation/ansible/tower/plugin.pm
Owners: @centreon/owners-perl

Update tests/robot/apps/automation/ansible/tower/hosts.robot
  tests/robot/apps/automation/ansible/tower/hosts.robot
Owners: @centreon/owners-robot-e2e

update to fix spell check
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-robot-e2e

test
  tests/robot/apps/automation/ansible/tower/jobs.robot
Owners: @centreon/owners-robot-e2e

Update tests/robot/apps/automation/ansible/tower/jobs.robot
  tests/robot/apps/automation/ansible/tower/jobs.robot
Owners: @centreon/owners-robot-e2e

Update tests/resources/resources.resource
  tests/resources/resources.resource
Owners: @centreon/owners-robot-e2e

modifiying tests
  .gitignore
  tests/resources/resources.resource
  tests/robot/apps/automation/ansible/tower/hosts.robot
  tests/robot/apps/automation/ansible/tower/jobs.robot
  tests/robot/apps/microsoft/hyperv/2012/local/nodeintegrationservice.robot
  tests/robot/apps/protocols/http/collection-centreon-web.robot
  tests/robot/apps/protocols/snmp/collection-sputnik.robot
  tests/robot/apps/protocols/snmp/hashicorp-password-manager.robot
  tests/robot/cloud/azure/policyinsights/policystates/cloud-azure-policyinsights-policystates.robot
  tests/robot/hardware/devices/camera/avigilon/snmp/memory.robot
  tests/robot/hardware/devices/camera/avigilon/snmp/storage.robot
  tests/robot/hardware/devices/camera/avigilon/snmp/temperature.robot
  tests/robot/hardware/sensors/apc/snmp/hardware-sensors-apc-snmp.robot
  tests/robot/hardware/ups/inmatics/sputnik/snmp/hardware-ups-sputnik-snmp.robot
  tests/robot/hardware/ups/socomec/netvision/snmp/hardware-ups-socomec-netvision-snmp.robot
  tests/robot/network/aruba/instant/snmp/aruba-instant-ap-usage.robot
  tests/robot/network/cisco/meraki/cloudcontroller/restapi/vpntunnels.robot
  tests/robot/network/citrix/netscaler/snmp/mode/components/netscaler-health.robot
  tests/robot/network/fortinet/fortigate/snmp/network-fortinet-fortigate-snmp.robot
Owners: @centreon/owners-connectors, @centreon/owners-robot-e2e

test mode(jobs)
  tests/robot/apps/automation/ansible/tower/jobs.robot
Owners: @centreon/owners-robot-e2e

add missing swap dependency for aruba cppm
  packaging/centreon-plugin-Network-Aruba-Cppm-Snmp/pkg.json
Owners: @centreon/owners-pipelines

CTOR-762-plugin-network-teldat-snmp (#5117)
  .gitignore
  tests/robot/network/teldat/snmp/cpu.robot
  tests/robot/network/teldat/snmp/memory.robot
  tests/robot/network/teldat/snmp/teldat.robot
Owners: @centreon/owners-connectors, @centreon/owners-robot-e2e

fix tests
  tests/robot/apps/backup/rubrik/restapi/jobs.json
Owners: @centreon/owners-robot-e2e

refactor
  .gitignore
  tests/robot/network/fortinet/fortigate/snmp/network-fortinet-fortigate-snmp.robot
  tests/robot/network/teldat/snmp/cellsradio.robot
  tests/robot/os/linux/snmp/network-interfaces.robot
  tests/robot/os/windows/snmp/services.robot
  tests/robot/storage/datacore/restapi/storage-datacore-restapi.robot
  tests/robot/storage/synology/snmp/storage-synology-snmp.robot
Owners: @centreon/owners-connectors, @centreon/owners-robot-e2e

adding a keyword
  tests/robot/network/teldat/snmp/cpu.robot
  tests/robot/network/teldat/snmp/memory.robot
Owners: @centreon/owners-robot-e2e

.github/CODEOWNERS:

*                   @centreon/owners-connectors

*.md                @centreon/owners-doc
*.mdx               @centreon/owners-doc

*.cmake             @centreon/owners-cpp
CMakeLists.txt      @centreon/owners-cpp
Makefile            @centreon/owners-cpp

*.pm                @centreon/owners-perl
*.pl                @centreon/owners-perl

*.py                @centreon/owners-python

*.sh                @centreon/owners-bash

tests/**            @centreon/owners-robot-e2e

.github/**          @centreon/owners-pipelines
packaging/**        @centreon/owners-pipelines
selinux/**          @centreon/owners-pipelines
.github/scripts/pod_spell_check.t  @centreon/owners-perl
