Repository centreon/centreon-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-connectors, @centreon/owners-doc, @centreon/owners-cpp, @centreon/owners-perl, @centreon/owners-python, @centreon/owners-bash, @centreon/owners-robot-e2e, @centreon/owners-pipelines

.github/CODEOWNERS:

*                   @centreon/owners-connectors

*.md                @centreon/owners-doc
*.mdx               @centreon/owners-doc

*.cmake             @centreon/owners-cpp
CMakeLists.txt      @centreon/owners-cpp
Makefile            @centreon/owners-cpp

*.pm                @centreon/owners-perl
*.pl                @centreon/owners-perl

*.py                @centreon/owners-python

*.sh                @centreon/owners-bash

tests/**            @centreon/owners-robot-e2e

.github/**          @centreon/owners-pipelines
packaging/**        @centreon/owners-pipelines
selinux/**          @centreon/owners-pipelines
.github/scripts/pod_spell_check.t  @centreon/owners-perl

[CTOR-38][Plugin] Fix Packaging- New pack Avigilon camera snmp (#4997)
  packaging/centreon-plugin-Hardware-Devices-Camera-Avigilon-Snmp/pkg.json
  src/hardware/devices/camera/avigilon/snmp/plugin.pm
Owners: @centreon/owners-pipelines, @centreon/owners-perl

take into account reserved space (#4978)
  src/os/linux/local/mode/storage.pm
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-perl, @centreon/owners-robot-e2e

fix(docker): add ruby-devel as required by npfm for perl-cpan builds
  .github/workflows/perl-cpan-libraries.yml
Owners: @centreon/owners-pipelines

fix(plugin) Json PATH lib - CTOR-525 (#5027)
  src/apps/protocols/http/plugin.pm
Owners: @centreon/owners-perl

enh: Information grid restapi (#4961)
  packaging/centreon-plugin-Applications-Infor-Ion-Grid-Restapi/deb.json
  packaging/centreon-plugin-Applications-Infor-Ion-Grid-Restapi/pkg.json
  packaging/centreon-plugin-Applications-Infor-Ion-Grid-Restapi/rpm.json
  src/apps/infor/ion/grid/custom/restapi.pm
  src/apps/infor/ion/grid/mode/application.pm
  src/apps/infor/ion/grid/mode/listapplications.pm
  src/apps/infor/ion/grid/mode/listnodes.pm
  src/apps/infor/ion/grid/mode/node.pm
  src/apps/infor/ion/grid/plugin.pm
  src/centreon/plugins/backend/http/curl.pm
  src/centreon/plugins/templates/counter.pm
Owners: @centreon/owners-pipelines, @centreon/owners-perl

[CTOR-566][Plugin] New pack Quanta Restapi (#5019)
  packaging/centreon-plugin-Applications-Monitoring-Quanta-Restapi/deb.json
  packaging/centreon-plugin-Applications-Monitoring-Quanta-Restapi/pkg.json
  packaging/centreon-plugin-Applications-Monitoring-Quanta-Restapi/rpm.json
  src/apps/monitoring/quanta/restapi/mode/webscenariosavailability.pm
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-pipelines, @centreon/owners-perl, @centreon/owners-robot-e2e

[CTOR-26][Plugin] New Pack : oVirt (#4999)
  packaging/centreon-plugin-Virtualization-Ovirt-Api/deb.json
  packaging/centreon-plugin-Virtualization-Ovirt-Api/pkg.json
  packaging/centreon-plugin-Virtualization-Ovirt-Api/rpm.json
Owners: @centreon/owners-pipelines

fix(promote): fix pattern used for promote upload (#5007)
  .github/actions/promote-to-stable/action.yml
Owners: @centreon/owners-pipelines

better compat between map-values and convert-custom-values options (#4902)
  src/snmp_standard/mode/stringvalue.pm
Owners: @centreon/owners-perl

enh(powershell/updates): Substituion of special charactere for Fr, Es,… (#4872)
  src/centreon/common/powershell/windows/updates.pm
Owners: @centreon/owners-perl

[CTOR-38][Plugin] Fix Packaging again - New pack Avigilon camera snmp (#4998)
  packaging/centreon-plugin-Hardware-Devices-Camera-Avigilon-Snmp/pkg.json
Owners: @centreon/owners-pipelines

fix(plugin) cifs,sftp,ftp plugin now check recursively folders (#5015)
  src/apps/protocols/cifs/mode/filescount.pm
  src/apps/protocols/ftp/mode/filescount.pm
  src/apps/protocols/sftp/mode/filescount.pm
Owners: @centreon/owners-perl

fix(azure-cloud-eventgrid): fix help threshold (#4992)
  src/cloud/azure/integration/eventgrid/mode/events.pm
Owners: @centreon/owners-perl

enh(promote): handle debian package promotion for multiple distributi… (#5005)
  .github/actions/promote-to-stable/action.yml
Owners: @centreon/owners-pipelines

CTOR-320-community-pr-fix-status-mapping-on-citrix-psu (#5022)
  src/network/citrix/netscaler/snmp/mode/components/psu.pm
  src/network/citrix/netscaler/snmp/mode/health.pm
  tests/resources/spellcheck/stopwords.t
  tests/robot/network/citrix/netscaler/snmp/mode/components/netscaler-health.robot
  tests/robot/network/citrix/netscaler/snmp/mode/components/psu-citrix-v13.snmpwalk
Owners: @centreon/owners-perl, @centreon/owners-robot-e2e

[CTOR-566][Plugin] New pack Quanta Restapi (Fix) (#5021)
  src/apps/monitoring/quanta/restapi/mode/webscenariosavailability.pm
Owners: @centreon/owners-perl

ci(plugin) update JSON::Path dep on alma8 to same version as other OS
  .github/docker/packaging/Dockerfile.packaging-plugins-alma8
  .github/docker/packaging/Dockerfile.packaging-plugins-alma9
  .github/docker/packaging/Dockerfile.packaging-plugins-bookworm
  .github/docker/packaging/Dockerfile.packaging-plugins-bullseye
  .github/docker/packaging/Dockerfile.packaging-plugins-centos7
  .github/docker/packaging/Dockerfile.packaging-plugins-jammy
  .github/docker/testing/Dockerfile.testing-plugins-alma8
  .github/docker/testing/Dockerfile.testing-plugins-alma9
  .github/docker/testing/Dockerfile.testing-plugins-bookworm
  .github/docker/testing/Dockerfile.testing-plugins-bullseye
  .github/docker/testing/Dockerfile.testing-plugins-jammy
  .github/workflows/perl-cpan-libraries.yml
  .github/workflows/perl-json-path.yml
Owners: @centreon/owners-pipelines

fix(promote): fix pattern used for promote upload (#5006)
  .github/actions/promote-to-stable/action.yml
Owners: @centreon/owners-pipelines

enh(tests): make install_plugins function more robust for debian inst… (#5031)
  .github/scripts/test-all-plugins.py
Owners: @centreon/owners-pipelines

Update alert.pm (#4982)
  src/notification/email/mode/alert.pm
Owners: @centreon/owners-perl

fix(promote): fix pattern for debian promote (#5010)
  .github/actions/promote-to-stable/action.yml
Owners: @centreon/owners-pipelines

enh(promote): handle debian package promotion for multiple distributions (#5004)
  .github/actions/promote-to-stable/action.yml
Owners: @centreon/owners-pipelines

[CTOR-514] [Plugin] New Pack RRDCached (#5003)
  packaging/centreon-plugin-Applications-RRDCached/deb.json
  packaging/centreon-plugin-Applications-RRDCached/pkg.json
  packaging/centreon-plugin-Applications-RRDCached/rpm.json
Owners: @centreon/owners-pipelines

enh(plugin): refactored the RRDcached plugin (#5025)
  packaging/centreon-plugin-Applications-RRDCached/pkg.json
  src/apps/rrdcached/custom/tcp.pm
  src/apps/rrdcached/custom/unix.pm
  src/apps/rrdcached/mode/ping.pm
  src/apps/rrdcached/mode/stats.pm
  src/apps/rrdcached/plugin.pm
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-pipelines, @centreon/owners-perl, @centreon/owners-robot-e2e

[CTOR-38][Plugin] New pack Avigilon camera snmp (#4994)
  packaging/centreon-plugin-Hardware-Devices-Camera-Avigilon-Snmp/deb.json
  packaging/centreon-plugin-Hardware-Devices-Camera-Avigilon-Snmp/pkg.json
  packaging/centreon-plugin-Hardware-Devices-Camera-Avigilon-Snmp/rpm.json
  src/hardware/devices/camera/avigilon/snmp/mode/interfaces.pm
  src/hardware/devices/camera/avigilon/snmp/mode/memory.pm
  src/hardware/devices/camera/avigilon/snmp/mode/storage.pm
  src/hardware/devices/camera/avigilon/snmp/mode/temperature.pm
  src/hardware/devices/camera/avigilon/snmp/plugin.pm
  tests/resources/spellcheck/stopwords.t
  tests/robot/hardware/devices/camera/avigilon/snmp/hardware-camera-avigilon.snmpwalk
  tests/robot/hardware/devices/camera/avigilon/snmp/memory.robot
  tests/robot/hardware/devices/camera/avigilon/snmp/storage.robot
  tests/robot/hardware/devices/camera/avigilon/snmp/temperature.robot
Owners: @centreon/owners-pipelines, @centreon/owners-perl, @centreon/owners-robot-e2e

fix(syntax): added missing curly bracket (#4963)
  src/apps/backup/veeam/wsman/mode/vsbjobs.pm
Owners: @centreon/owners-perl

chore(deps): absorb May-24 dependabot dependencies (#5034)
  .github/workflows/docker-builder-packaging-plugins.yml
  .github/workflows/docker-builder-testing-plugins.yml
  .github/workflows/perl-cpan-libraries.yml
  .github/workflows/perl-filesys-smbclient.yml
  .github/workflows/perl-vmware-vsphere.yml
  .github/workflows/plink.yml
  .github/workflows/plugin-delivery.yml
  .github/workflows/plugins.yml
  .github/workflows/spellchecker.yml
Owners: @centreon/owners-pipelines

style(plugin): adjust indentation - CTOR-586 (#5033)
  src/apps/monitoring/loggly/restapi/custom/api.pm
  src/apps/monitoring/loggly/restapi/mode/events.pm
  src/apps/monitoring/loggly/restapi/mode/fields.pm
  src/apps/monitoring/loggly/restapi/plugin.pm
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-perl, @centreon/owners-robot-e2e

fix(packaging) CTOR-591 Trendmicro IWSVA packaging (#5042)
  src/apps/trendmicro/iwsva/snmp/plugin.pm
Owners: @centreon/owners-perl

fix(packaging) CTOR-591 TrendMicro - Iwsva: List-mode inaccurate (#5039)
  packaging/centreon-plugin-Applications-TrendMicro-Iwsva/pkg.json
  src/apps/trendmicro/iwsva/snmp/mode/interfaces.pm
  src/apps/trendmicro/iwsva/snmp/plugin.pm
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-pipelines, @centreon/owners-perl, @centreon/owners-robot-e2e

enh(library) Package Paws CPAN library in our repository (#5036)
  .github/workflows/perl-cpan-libraries.yml
Owners: @centreon/owners-pipelines

wip: first commit with collection test
  tests/robot/apps/protocols/http/apps-protocol-http-collection-centreon-web-check-auth.collection.json
  tests/robot/apps/protocols/http/apps-protocol-http-collection-centreon-web.json
  tests/robot/apps/protocols/http/apps-protocol-http-collection-centreon-web.robot
Owners: @centreon/owners-robot-e2e

fix(ci): force perl-json-path lib to build when workflow modified
  .github/workflows/perl-json-path.yml
Owners: @centreon/owners-pipelines

fix(ci): force perl-json-path lib to build when workflow modified (#5045)
  .github/workflows/perl-json-path.yml
Owners: @centreon/owners-pipelines

fix(ci): perl-json-path has to be delivered
  .github/workflows/perl-json-path.yml
Owners: @centreon/owners-pipelines

fix(ci): perl-json-path has to be delivered (#5046)
  .github/workflows/perl-json-path.yml
Owners: @centreon/owners-pipelines

fix(collectio): infinite loop and json encoding
  src/apps/protocols/http/mode/collection.pm
Owners: @centreon/owners-perl

fix(collectio): infinite loop and json encoding
  src/apps/protocols/http/mode/collection.pm
Owners: @centreon/owners-perl

wip: first commit with collection test
  tests/robot/apps/protocols/http/apps-protocol-http-collection-centreon-web-check-auth.collection.json
  tests/robot/apps/protocols/http/apps-protocol-http-collection-centreon-web.json
  tests/robot/apps/protocols/http/apps-protocol-http-collection-centreon-web.robot
Owners: @centreon/owners-robot-e2e

enh(promote): handle debian package promotion for multiple distributi… (#5005)
  .github/actions/promote-to-stable/action.yml
Owners: @centreon/owners-pipelines
