Repository centreon/centreon-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-connectors, @centreon/owners-doc, @centreon/owners-cpp, @centreon/owners-perl, @centreon/owners-python, @centreon/owners-bash, @centreon/owners-robot-e2e, @centreon/owners-pipelines

Update .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @centreon/owners-pipelines

new(dependency): package Net::MQTT::Simple perl lib
  .github/workflows/perl-cpan-libraries.yml
Owners: @centreon/owners-pipelines

test escape counter name
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-robot-e2e

wip
  src/centreon/plugins/ssh.pm
  src/network/juniper/common/junos/api/contrib/interfaces.netconf
  src/network/juniper/common/junos/api/contrib/memory.netconf
  src/network/juniper/common/junos/api/custom/netconf.pm
  src/network/juniper/common/junos/api/mode/interfaces.pm
  src/network/juniper/common/junos/api/mode/memory.pm
  src/network/juniper/mseries/api/plugin.pm
Owners: @centreon/owners-perl, @centreon/owners-connectors

wip
  src/network/juniper/common/junos/api/custom/netconf.pm
  src/network/juniper/common/junos/api/mode/interfaces.pm
  src/network/juniper/common/junos/api/mode/listinterfaces.pm
  src/network/juniper/mseries/api/plugin.pm
Owners: @centreon/owners-perl

wip
  src/network/juniper/common/junos/api/contrib/bgp.netconf
  src/network/juniper/common/junos/api/contrib/ldp.netconf
  src/network/juniper/common/junos/api/contrib/lsp.netconf
  src/network/juniper/common/junos/api/contrib/rsvp.netconf
  src/network/juniper/common/junos/api/custom/netconf.pm
  src/network/juniper/common/junos/api/mode/bgp.pm
  src/network/juniper/mseries/api/plugin.pm
Owners: @centreon/owners-connectors, @centreon/owners-perl

Apply suggestions from code review
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @centreon/owners-pipelines

new(dependency): package Net::MQTT::Simple perl lib (#5056)
  .github/workflows/perl-cpan-libraries.yml
Owners: @centreon/owners-pipelines

fix(cpan-libs) build cpan library for arm64 architecture (#5047)
  .github/workflows/perl-cpan-libraries.yml
Owners: @centreon/owners-pipelines

add cache system
  src/network/juniper/common/junos/api/custom/netconf.pm
  src/network/juniper/mseries/api/mode/cache.pm
  src/network/juniper/mseries/api/plugin.pm
Owners: @centreon/owners-perl

wip
  src/network/juniper/common/junos/api/custom/netconf.pm
  src/network/juniper/common/junos/api/mode/listrsvp.pm
  src/network/juniper/common/junos/api/mode/rsvp.pm
  src/network/juniper/mseries/api/mode/cache.pm
  src/network/juniper/mseries/api/plugin.pm
Owners: @centreon/owners-perl

wip
  src/network/juniper/common/junos/api/custom/netconf.pm
  src/network/juniper/common/junos/api/mode/ldp.pm
  src/network/juniper/common/junos/api/mode/listldp.pm
  src/network/juniper/common/junos/api/mode/listlsp.pm
  src/network/juniper/common/junos/api/mode/lsp.pm
  src/network/juniper/mseries/api/mode/cache.pm
  src/network/juniper/mseries/api/plugin.pm
Owners: @centreon/owners-perl

fix according feedback
  src/storage/datacore/restapi/custom/api.pm
  src/storage/datacore/restapi/mode/poolspaceusage.pm
Owners: @centreon/owners-perl

fix spellcheck test
  src/storage/datacore/restapi/mode/poolspaceusage.pm
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-perl, @centreon/owners-robot-e2e

fix robot test json according feedback
  tests/robot/storage/datacore/restapi/storage-datacore-api.json
Owners: @centreon/owners-robot-e2e

CTOR-633 : plugin(storage::datacore::restapi) : Add little fixes and enhancements (#5058)
  src/storage/datacore/restapi/custom/api.pm
  src/storage/datacore/restapi/mode/poolspaceusage.pm
  tests/resources/spellcheck/stopwords.t
  tests/robot/storage/datacore/restapi/storage-datacore-api.json
Owners: @centreon/owners-perl, @centreon/owners-robot-e2e

wip
  src/network/cisco/meraki/cloudcontroller/restapi/custom/api.pm
  src/network/cisco/meraki/cloudcontroller/restapi/mode/listvpntunnels.pm
  src/network/cisco/meraki/cloudcontroller/restapi/mode/vpntunnels.pm
Owners: @centreon/owners-perl

wip
  src/network/teldat/snmp/mode/cellsradio.pm
Owners: @centreon/owners-perl

wip
  src/network/juniper/common/junos/api/custom/netconf.pm
  src/network/juniper/common/junos/api/mode/bgp.pm
Owners: @centreon/owners-perl

wip
  src/contrib/collection/juniper/api/timeout_log.config
  src/network/juniper/common/junos/api/custom/netconf.pm
  src/network/juniper/common/junos/api/mode/collection.pm
  src/network/juniper/common/junos/api/mode/listbgp.pm
Owners: @centreon/owners-connectors, @centreon/owners-perl

wip
  packaging/centreon-plugin-Network-Juniper-Mseries-Api/deb.json
  packaging/centreon-plugin-Network-Juniper-Mseries-Api/pkg.json
  packaging/centreon-plugin-Network-Juniper-Mseries-Api/rpm.json
  src/cloud/aws/cloudtrail/mode/countevents.pm
  src/hardware/sensors/rittal/cmc3/snmp/mode/devices.pm
  src/hardware/sensors/rittal/cmc3/snmp/mode/listdevices.pm
  src/hardware/sensors/rittal/cmc3/snmp/mode/load.pm
  src/hardware/sensors/rittal/cmc3/snmp/mode/unitstatus.pm
  src/hardware/sensors/rittal/cmc3/snmp/mode/uptime.pm
  src/hardware/sensors/rittal/cmc3/snmp/plugin.pm
  src/network/aruba/cppm/snmp/mode/radius.pm
  src/network/aruba/cppm/snmp/mode/repositories.pm
  src/network/aruba/cppm/snmp/plugin.pm
  src/network/cambium/cnpilot/snmp/mode/connectionstatus.pm
  src/network/cambium/cnpilot/snmp/mode/listradios.pm
  src/network/fortinet/fortimail/snmp/mode/load.pm
  src/network/fortinet/fortimail/snmp/mode/queues.pm
  src/network/juniper/mseries/api/plugin.pm
Owners: @centreon/owners-pipelines, @centreon/owners-perl

Adding libxml dependency for all plugins because it's needed for service discovery
  .github/packaging/centreon-plugin.yaml.template
Owners: @centreon/owners-pipelines

fix(plugin) add auth-path option hashicorp vault
  src/centreon/plugins/snmp.pm
  tests/resources/resources.resource
  tests/robot/apps/protocols/snmp/hashicorp-password-manager.robot
  tests/robot/apps/protocols/snmp/snmp-single-oid.snmpwalk
  tests/robot/apps/protocols/snmp/vault-authentication-hashicorp.json
Owners: @centreon/owners-perl, @centreon/owners-robot-e2e

remove centreon snmp modif
  src/centreon/plugins/snmp.pm
Owners: @centreon/owners-perl

passwordmgr hashicorp vault: add option to set auth-path
  src/apps/hashicorp/vault/restapi/custom/api.pm
  src/centreon/plugins/passwordmgr/hashicorpvault.pm
Owners: @centreon/owners-perl

fix stopwords + temporary fix tests errors caused by centreon_trendmicro_iwsva
  .github/scripts/test-all-plugins.py
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-pipelines, @centreon/owners-robot-e2e

fix spellcheck
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-robot-e2e

test removing cache
  .github/scripts/test-all-plugins.py
Owners: @centreon/owners-pipelines

Temporary removal of AWS tests
  tests/robot/cloud/aws/cloudtrail/cloud-aws-cloudtrail.json
  tests/robot/cloud/aws/cloudtrail/cloud-aws-cloudtrail.robot
Owners: @centreon/owners-robot-e2e

fix for snmpsim + cache files
  .github/actions/test-plugins/action.yml
  .github/scripts/test-all-plugins.py
  tests/robot/hardware/kvm/avocent/acs/8000/hardware-kvm-avocent-acs-8000.robot
  tests/robot/os/linux/snmp/network-interfaces.robot
  tests/robot/os/linux/snmp/os-linux-snmp.robot
Owners: @centreon/owners-pipelines, @centreon/owners-robot-e2e

Add "auto" tag for automated tests
  .github/scripts/test-all-plugins.py
  tests/robot/cloud/aws/cloudtrail/cloud-aws-cloudtrail.json
  tests/robot/cloud/aws/cloudtrail/cloud-aws-cloudtrail.robot
  tests/robot/cloud/azure/policyinsights/policystates/cloud-azure-policyinsights-policystates.robot
  tests/robot/database/database-mysql.robot
  tests/robot/hardware/devices/camera/avigilon/snmp/memory.robot
  tests/robot/hardware/devices/camera/avigilon/snmp/storage.robot
  tests/robot/hardware/devices/camera/avigilon/snmp/temperature.robot
  tests/robot/hardware/kvm/avocent/acs/8000/hardware-kvm-avocent-acs-8000.robot
  tests/robot/hardware/sensors/apc/snmp/hardware-sensors-apc-snmp.robot
  tests/robot/hardware/ups/inmatics/sputnik/snmp/hardware-ups-sputnik-snmp.robot
  tests/robot/hardware/ups/socomec/netvision/snmp/hardware-ups-socomec-netvision-snmp.robot
  tests/robot/hardware/ups/standard/snmp/hardware-ups-standard-snmp.robot
  tests/robot/network/aruba/instant/snmp/aruba-instant-ap-usage.robot
  tests/robot/network/citrix/netscaler/snmp/mode/components/netscaler-health.robot
  tests/robot/network/fortinet/fortigate/snmp/network-fortinet-fortigate-snmp.robot
  tests/robot/network/teldat/snmp/teldat.robot
  tests/robot/os/linux/local/os-linux-list-systemdservices.robot
  tests/robot/os/linux/local/os-linux-system-sc-status.robot
  tests/robot/os/linux/snmp/network-interfaces.robot
  tests/robot/os/linux/snmp/os-linux-snmp.robot
  tests/robot/os/windows/snmp/services.robot
  tests/robot/storage/datacore/restapi/storage-datacore-restapi.robot
  tests/robot/storage/synology/snmp/storage-synology-snmp.robot
Owners: @centreon/owners-pipelines, @centreon/owners-robot-e2e

removing all tmp files (to remove cache) + using "apt-get" instead of "apt" (needed for bookworm)
  .github/scripts/test-all-plugins.py
Owners: @centreon/owners-pipelines

Revert "Add "auto" tag for automated tests"
  .github/scripts/test-all-plugins.py
  tests/robot/cloud/aws/cloudtrail/cloud-aws-cloudtrail.json
  tests/robot/cloud/aws/cloudtrail/cloud-aws-cloudtrail.robot
  tests/robot/cloud/azure/policyinsights/policystates/cloud-azure-policyinsights-policystates.robot
  tests/robot/database/database-mysql.robot
  tests/robot/hardware/devices/camera/avigilon/snmp/memory.robot
  tests/robot/hardware/devices/camera/avigilon/snmp/storage.robot
  tests/robot/hardware/devices/camera/avigilon/snmp/temperature.robot
  tests/robot/hardware/kvm/avocent/acs/8000/hardware-kvm-avocent-acs-8000.robot
  tests/robot/hardware/sensors/apc/snmp/hardware-sensors-apc-snmp.robot
  tests/robot/hardware/ups/inmatics/sputnik/snmp/hardware-ups-sputnik-snmp.robot
  tests/robot/hardware/ups/socomec/netvision/snmp/hardware-ups-socomec-netvision-snmp.robot
  tests/robot/hardware/ups/standard/snmp/hardware-ups-standard-snmp.robot
  tests/robot/network/aruba/instant/snmp/aruba-instant-ap-usage.robot
  tests/robot/network/citrix/netscaler/snmp/mode/components/netscaler-health.robot
  tests/robot/network/fortinet/fortigate/snmp/network-fortinet-fortigate-snmp.robot
  tests/robot/network/teldat/snmp/teldat.robot
  tests/robot/os/linux/local/os-linux-list-systemdservices.robot
  tests/robot/os/linux/local/os-linux-system-sc-status.robot
  tests/robot/os/linux/snmp/network-interfaces.robot
  tests/robot/os/linux/snmp/os-linux-snmp.robot
  tests/robot/os/windows/snmp/services.robot
  tests/robot/storage/datacore/restapi/storage-datacore-restapi.robot
  tests/robot/storage/synology/snmp/storage-synology-snmp.robot
Owners: @centreon/owners-pipelines, @centreon/owners-robot-e2e

ci(tests) Don't install plugins which don't have tests.
  .github/scripts/test-all-plugins.py
Owners: @centreon/owners-pipelines

ci(tests) Add cache location for azure policy insights tests and datetime dependancy for plugin.
  packaging/centreon-plugin-Cloud-Azure-PolicyInsights-PolicyStates-Api/rpm.json
  tests/robot/cloud/azure/policyinsights/policystates/cloud-azure-policyinsights-policystates.robot
Owners: @centreon/owners-pipelines, @centreon/owners-robot-e2e

feat(passmanager) community-pr handle variable path for hashicorp vault authentication (#5024)
  .github/actions/test-plugins/action.yml
  .github/packaging/centreon-plugin.yaml.template
  .github/scripts/test-all-plugins.py
  packaging/centreon-plugin-Cloud-Azure-PolicyInsights-PolicyStates-Api/rpm.json
  src/apps/hashicorp/vault/restapi/custom/api.pm
  src/centreon/plugins/passwordmgr/hashicorpvault.pm
  tests/resources/resources.resource
  tests/resources/spellcheck/stopwords.t
  tests/robot/apps/protocols/snmp/hashicorp-password-manager.robot
  tests/robot/apps/protocols/snmp/snmp-single-oid.snmpwalk
  tests/robot/apps/protocols/snmp/vault-authentication-hashicorp.json
  tests/robot/cloud/aws/cloudtrail/cloud-aws-cloudtrail.json
  tests/robot/cloud/aws/cloudtrail/cloud-aws-cloudtrail.robot
  tests/robot/cloud/azure/policyinsights/policystates/cloud-azure-policyinsights-policystates.robot
  tests/robot/hardware/kvm/avocent/acs/8000/hardware-kvm-avocent-acs-8000.robot
  tests/robot/os/linux/snmp/network-interfaces.robot
  tests/robot/os/linux/snmp/os-linux-snmp.robot
Owners: @centreon/owners-pipelines, @centreon/owners-perl, @centreon/owners-robot-e2e

Fix for ssl + add numeric-value mode (replace generic)
  src/apps/eclipse/mosquitto/mqtt/mode/generic.pm
  src/apps/eclipse/mosquitto/mqtt/mode/numericvalue.pm
  src/apps/eclipse/mosquitto/mqtt/plugin.pm
  src/centreon/plugins/mqtt.pm
Owners: @centreon/owners-perl

Add mqtt protocol + first mosquitto modes
  src/apps/eclipse/mosquitto/mqtt/mode/uptime.pm
  src/apps/eclipse/mosquitto/mqtt/plugin.pm
  src/centreon/plugins/mqtt.pm
  src/centreon/plugins/script_mqtt.pm
Owners: @centreon/owners-perl

Add generic mode
  src/apps/eclipse/mosquitto/mqtt/mode/clients.pm
  src/apps/eclipse/mosquitto/mqtt/mode/generic.pm
  src/apps/eclipse/mosquitto/mqtt/mode/messages.pm
  src/apps/eclipse/mosquitto/mqtt/plugin.pm
Owners: @centreon/owners-perl

Adding messages mode
  packaging/centreon-plugin-Applications-Eclipse-Mosquitto-Mqtt/deb.json
  packaging/centreon-plugin-Applications-Eclipse-Mosquitto-Mqtt/pkg.json
  packaging/centreon-plugin-Applications-Eclipse-Mosquitto-Mqtt/rpm.json
  src/apps/eclipse/mosquitto/mqtt/mode/messages.pm
  src/centreon/plugins/mqtt.pm
  src/centreon/plugins/script_mqtt.pm
Owners: @centreon/owners-pipelines, @centreon/owners-perl

.github/CODEOWNERS:

*                   @centreon/owners-connectors

*.md                @centreon/owners-doc
*.mdx               @centreon/owners-doc

*.cmake             @centreon/owners-cpp
CMakeLists.txt      @centreon/owners-cpp
Makefile            @centreon/owners-cpp

*.pm                @centreon/owners-perl
*.pl                @centreon/owners-perl

*.py                @centreon/owners-python

*.sh                @centreon/owners-bash

tests/**            @centreon/owners-robot-e2e

.github/**          @centreon/owners-pipelines
packaging/**        @centreon/owners-pipelines
selinux/**          @centreon/owners-pipelines
.github/scripts/pod_spell_check.t  @centreon/owners-perl
