Repository centreon/centreon-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-connectors, @centreon/owners-doc, @centreon/owners-cpp, @centreon/owners-perl, @centreon/owners-python, @centreon/owners-bash, @centreon/owners-robot-e2e, @centreon/owners-pipelines

.github/CODEOWNERS:

*                   @centreon/owners-connectors

*.md                @centreon/owners-doc
*.mdx               @centreon/owners-doc

*.cmake             @centreon/owners-cpp
CMakeLists.txt      @centreon/owners-cpp
Makefile            @centreon/owners-cpp

*.pm                @centreon/owners-perl
*.pl                @centreon/owners-perl

*.py                @centreon/owners-python

*.sh                @centreon/owners-bash

tests/**            @centreon/owners-robot-e2e

.github/**          @centreon/owners-pipelines
packaging/**        @centreon/owners-pipelines
selinux/**          @centreon/owners-pipelines
.github/scripts/pod_spell_check.t  @centreon/owners-perl

Fix spellcheck
  tests/resources/spellcheck/stopwords.txt
Owners: @centreon/owners-robot-e2e

add(plugin): exense step api
  src/apps/exense/step/restapi/custom/api.pm
  src/apps/exense/step/restapi/mode/listplans.pm
  src/apps/exense/step/restapi/mode/plans.pm
  src/apps/exense/step/restapi/plugin.pm
  src/hold for last plan execution status.
Owners: @centreon/owners-perl, @centreon/owners-connectors

add token auth
  src/apps/exense/step/restapi/custom/api.pm
Owners: @centreon/owners-perl

add packaging
  packaging/centreon-plugin-Applications-Exense-Step-Restapi/deb.json
  packaging/centreon-plugin-Applications-Exense-Step-Restapi/pkg.json
  packaging/centreon-plugin-Applications-Exense-Step-Restapi/rpm.json
Owners: @centreon/owners-pipelines

replace running by Running
  src/apps/microsoft/hyperv/2012/local/mode/nodeintegrationservice.pm
Owners: @centreon/owners-perl

right order
  src/apps/exense/step/restapi/mode/plans.pm
Owners: @centreon/owners-perl
