Repository centreon/centreon-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-connectors, @centreon/owners-doc, @centreon/owners-cpp, @centreon/owners-perl, @centreon/owners-python, @centreon/owners-bash, @centreon/owners-robot-e2e, @centreon/owners-pipelines

.github/CODEOWNERS:

*                   @centreon/owners-connectors

*.md                @centreon/owners-doc
*.mdx               @centreon/owners-doc

*.cmake             @centreon/owners-cpp
CMakeLists.txt      @centreon/owners-cpp
Makefile            @centreon/owners-cpp

*.pm                @centreon/owners-perl
*.pl                @centreon/owners-perl

*.py                @centreon/owners-python

*.sh                @centreon/owners-bash

tests/**            @centreon/owners-robot-e2e

.github/**          @centreon/owners-pipelines
packaging/**        @centreon/owners-pipelines
selinux/**          @centreon/owners-pipelines
.github/scripts/pod_spell_check.t  @centreon/owners-perl

add(collection): add full_url and function system
  src/apps/protocols/http/mode/collection.pm
Owners: @centreon/owners-perl

WIP: renamed the files to make them shorter
  tests/robot/apps/protocols/http/collection-centreon-web-check-auth.collection.json
  tests/robot/apps/protocols/http/collection-centreon-web-check-broken-commands.collection.json
  tests/robot/apps/protocols/http/collection-centreon-web-check-down-hosts.collection.json
  tests/robot/apps/protocols/http/collection-centreon-web.mockoon.json
  tests/robot/apps/protocols/http/collection-centreon-web.robot
Owners: @centreon/owners-robot-e2e

Update src/apps/protocols/http/mode/collection.pm
  src/apps/protocols/http/mode/collection.pm
Owners: @centreon/owners-perl

allow character minus
  src/apps/protocols/http/mode/collection.pm
Owners: @centreon/owners-perl

add(collection): add full_url and function system
  src/apps/protocols/http/mode/collection.pm
Owners: @centreon/owners-perl

fix(promote): fix pattern used for promote upload (#5007)
  .github/actions/promote-to-stable/action.yml
Owners: @centreon/owners-pipelines

fix indent
  src/apps/protocols/http/mode/collection.pm
Owners: @centreon/owners-perl

WIP: removed the dependency on exporter-easy
  packaging/centreon-plugin-Applications-Protocol-Http/rpm.json
Owners: @centreon/owners-pipelines

WIP: added the two other test cases
  tests/robot/apps/protocols/http/apps-protocol-http-collection-centreon-web-check-broken-commands.collection.json
  tests/robot/apps/protocols/http/apps-protocol-http-collection-centreon-web-check-down-hosts.collection.json
  tests/robot/apps/protocols/http/apps-protocol-http-collection-centreon-web.robot
Owners: @centreon/owners-robot-e2e

wip: fixed packaging issues and errors in test
  packaging/centreon-plugin-Applications-Protocol-Http/deb.json
  packaging/centreon-plugin-Applications-Protocol-Http/rpm.json
  tests/robot/apps/protocols/http/apps-protocol-http-collection-centreon-web.robot
Owners: @centreon/owners-pipelines, @centreon/owners-robot-e2e

add scenario_stopped_first attribute
  src/apps/protocols/http/mode/collection.pm
Owners: @centreon/owners-perl

Update src/apps/protocols/http/mode/collection.pm
  src/apps/protocols/http/mode/collection.pm
Owners: @centreon/owners-perl

change parse structure position
  src/apps/protocols/http/mode/collection.pm
Owners: @centreon/owners-perl

WIP: fixed the mockoon file name and the port
  tests/robot/apps/protocols/http/apps-protocol-http-collection-centreon-web.mockoon.json
  tests/robot/apps/protocols/http/apps-protocol-http-collection-centreon-web.robot
Owners: @centreon/owners-robot-e2e

fix(test): removed damn double spaces in the plugin output
  tests/robot/apps/protocols/http/collection-centreon-web.robot
Owners: @centreon/owners-robot-e2e

add(mode): stormshield api vpn tunnels
  src/network/stormshield/api/mode/listvpntunnels.pm
  src/network/stormshield/api/mode/vpntunnels.pm
  src/network/stormshield/api/plugin.pm
Owners: @centreon/owners-perl

feat(vmware-connector) add debug log for cpucluster mode internals
  connectors/vmware/src/centreon/vmware/cmdcpucluster.pm
  connectors/vmware/src/centreon/vmware/common.pm
Owners: @centreon/owners-perl

refactor(cpan-libs): Segregate rpm and deb jobs
  .github/workflows/perl-cpan-libraries.yml
Owners: @centreon/owners-pipelines

fix(cpan-libs): Build cpan library for arm architecture
  .github/workflows/perl-cpan-libraries.yml
Owners: @centreon/owners-pipelines

fix(tests): fixed the mockoon file name and the new line in 'expected' column
  tests/robot/apps/protocols/http/collection-centreon-web.robot
Owners: @centreon/owners-robot-e2e

enh(test): rename tests
  tests/robot/apps/protocols/http/collection-centreon-web.robot
Owners: @centreon/owners-robot-e2e

fix(packaging): advertise that perl-Exporter-Shiny also provides *Tiny
  .github/workflows/perl-cpan-libraries.yml
Owners: @centreon/owners-pipelines

fix(gorgone) correctly handle gorgone pullwss module shutdown (#5038)
  .github/workflows/perl-cpan-libraries.yml
Owners: @centreon/owners-pipelines

fix(packaging): advertise that perl-Exporter-Shiny also provides *Tiny (#5050)
  .github/workflows/perl-cpan-libraries.yml
Owners: @centreon/owners-pipelines

enh(test): last changes to test cases names
  tests/robot/apps/protocols/http/collection-centreon-web.robot
Owners: @centreon/owners-robot-e2e

enh(teldat): better management of cells radio mode
  src/network/teldat/snmp/mode/cellsradio.pm
  src/network/teldat/snmp/mode/cpu.pm
  src/network/teldat/snmp/mode/interfaces.pm
  src/network/teldat/snmp/mode/listcellsradio.pm
  src/network/teldat/snmp/mode/memory.pm
  src/network/teldat/snmp/mode/uptime.pm
  src/network/teldat/snmp/plugin.pm
Owners: @centreon/owners-perl

enh(teldat): better management of cells radio mode
  src/network/teldat/snmp/mode/cellsradio.pm
Owners: @centreon/owners-perl

fix(http-collection): merge community PR + add tests (#5044)
  packaging/centreon-plugin-Applications-Protocol-Http/deb.json
  src/apps/protocols/http/mode/collection.pm
  tests/robot/apps/protocols/http/collection-centreon-web-check-auth.collection.json
  tests/robot/apps/protocols/http/collection-centreon-web-check-broken-commands.collection.json
  tests/robot/apps/protocols/http/collection-centreon-web-check-down-hosts.collection.json
  tests/robot/apps/protocols/http/collection-centreon-web.mockoon.json
  tests/robot/apps/protocols/http/collection-centreon-web.robot
Owners: @centreon/owners-pipelines, @centreon/owners-perl, @centreon/owners-robot-e2e

wip
  src/centreon/plugins/backend/ssh/sshcli.pm
  src/centreon/plugins/misc.pm
  src/centreon/plugins/ssh.pm
  src/network/juniper/common/junos/api/custom/netconf.pm
  src/network/juniper/mseries/api/mode/cpu.pm
  src/network/juniper/mseries/api/plugin.pm
Owners: @centreon/owners-perl

Fix typos, missing and wrong options in help pods
  src/cloud/aws/elb/classic/mode/httpcodes.pm
  src/hardware/devices/camera/optelecom/snmp/mode/interfaces.pm
  src/hardware/devices/hms/ewon/snmp/mode/tags.pm
  src/network/stonesoft/snmp/mode/memory.pm
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-perl, @centreon/owners-robot-e2e

Fix typos, missing and wrong options in help pods
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-robot-e2e

Fix typos, missing and wrong options in help pods
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-robot-e2e

test
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-robot-e2e

test
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-robot-e2e

test
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-robot-e2e

Fix typos, missing and wrong options in help pods
  src/cloud/aws/billing/mode/estimatedcharges.pm
  src/cloud/aws/elb/application/mode/httpcodes.pm
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-perl, @centreon/owners-robot-e2e

wip
  packaging/centreon-plugin-Network-Firewalls-Juniper-Sa-Snmp/pkg.json
  packaging/centreon-plugin-Network-Firewalls-Juniper-Srx-Snmp/pkg.json
  packaging/centreon-plugin-Network-Firewalls-Juniper-Ssg-Snmp/pkg.json
  packaging/centreon-plugin-Network-Juniper-Ggsn-Snmp/pkg.json
  packaging/centreon-plugin-Network-Juniper-Isg-Snmp/pkg.json
  packaging/centreon-plugin-Network-Juniper-Mag-Snmp/pkg.json
  packaging/centreon-plugin-Network-Routers-Juniper-Mseries-Snmp/pkg.json
  packaging/centreon-plugin-Network-Switchs-Juniper-Ex-Snmp/pkg.json
Owners: @centreon/owners-pipelines

wip
  src/network/juniper/common/junos/api/contrib/cpu.netconf
  src/network/juniper/common/junos/api/contrib/disk.netconf
  src/network/juniper/common/junos/api/custom/netconf.pm
  src/network/juniper/common/junos/api/mode/cpu.pm
  src/network/juniper/common/junos/api/mode/disks.pm
  src/network/juniper/common/junos/api/mode/listdisks.pm
  src/network/juniper/mseries/api/plugin.pm
Owners: @centreon/owners-connectors, @centreon/owners-perl

wip
  src/network/juniper/common/junos/api/contrib/hardware.netconf
  src/network/juniper/common/junos/api/custom/netconf.pm
  src/network/juniper/common/junos/api/mode/components/fan.pm
  src/network/juniper/common/junos/api/mode/components/fpc.pm
  src/network/juniper/common/junos/api/mode/components/psu.pm
  src/network/juniper/common/junos/api/mode/components/temperature.pm
  src/network/juniper/common/junos/api/mode/hardware.pm
  src/network/juniper/mseries/api/plugin.pm
Owners: @centreon/owners-connectors, @centreon/owners-perl

Change the pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @centreon/owners-pipelines
