Repository centreon/centreon-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-connectors, @centreon/owners-doc, @centreon/owners-cpp, @centreon/owners-perl, @centreon/owners-python, @centreon/owners-bash, @centreon/owners-robot-e2e, @centreon/owners-pipelines

Update src/notification/microsoft/office365/teams/custom/workflowapi.pm
  src/notification/microsoft/office365/teams/custom/workflowapi.pm
Owners: @centreon/owners-perl

Update src/notification/microsoft/office365/teams/custom/workflowapi.pm
  src/notification/microsoft/office365/teams/custom/workflowapi.pm
Owners: @centreon/owners-perl

Update src/notification/microsoft/office365/teams/custom/workflowapi.pm
  src/notification/microsoft/office365/teams/custom/workflowapi.pm
Owners: @centreon/owners-perl

Update src/notification/microsoft/office365/teams/custom/workflowapi.pm
  src/notification/microsoft/office365/teams/custom/workflowapi.pm
Owners: @centreon/owners-perl

Update output.pm
  src/centreon/plugins/output.pm
Owners: @centreon/owners-perl

add missing swap dependency for aruba cppm (#5134)
  packaging/centreon-plugin-Network-Aruba-Cppm-Snmp/pkg.json
Owners: @centreon/owners-pipelines

fix(tests): fixed a remainder of a conflict and a wrong column name
  tests/robot/network/fortinet/fortigate/snmp/network-fortinet-fortigate-snmp.robot
  tests/robot/network/teldat/snmp/cpu.robot
Owners: @centreon/owners-robot-e2e

Fix plugin packaging
  packaging/centreon-plugin-Applications-Rubrik-Restapi/deb.json
  packaging/centreon-plugin-Applications-Rubrik-Restapi/rpm.json
Owners: @centreon/owners-pipelines

Update output.pm cancel the useless change made to run all tests
  src/centreon/plugins/output.pm
Owners: @centreon/owners-perl

Revert "Update output.pm cancel the useless change made to run all tests"
  src/centreon/plugins/output.pm
Owners: @centreon/owners-perl

Revert "Update output.pm"
  src/centreon/plugins/output.pm
Owners: @centreon/owners-perl

add cache test + fix tests
  tests/robot/apps/backup/rubrik/restapi/applications-rubrik-restapi.json.json
  tests/robot/apps/backup/rubrik/restapi/cache.robot
  tests/robot/apps/backup/rubrik/restapi/jobs.robot
Owners: @centreon/owners-robot-e2e

add cache test + fix tests
  tests/robot/apps/backup/rubrik/restapi/jobs.robot
Owners: @centreon/owners-robot-e2e

fix tests
  tests/robot/apps/backup/rubrik/restapi/jobs.robot
Owners: @centreon/owners-robot-e2e

Fix for unknown notification-type
  src/notification/microsoft/office365/teams/mode/alert.pm
Owners: @centreon/owners-perl

tests(plugins): Run all tests on arm64 architecture (#5049)
  .github/workflows/plugins.yml
  src/centreon/plugins/dbi.pm
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-pipelines, @centreon/owners-perl, @centreon/owners-robot-e2e

fix(help): fixed typo in help
  src/hardware/devices/hikvision/nvr/snmp/mode/disks.pm
  src/os/as400/connector/mode/command.pm
  src/os/as400/connector/mode/disks.pm
  src/os/as400/connector/mode/jobqueues.pm
  src/os/as400/connector/mode/subsystems.pm
Owners: @centreon/owners-perl

wip: first commit - diskstatus mode
  src/storage/hp/primera/restapi/custom/api.pm
  src/storage/hp/primera/restapi/mode/diskstatus.pm
  src/storage/hp/primera/restapi/plugin.pm
  tests/robot/storage/hp/primera/restapi/diskstatus.robot
  tests/robot/storage/hp/primera/restapi/hpe-primera.mockoon.json
Owners: @centreon/owners-perl, @centreon/owners-robot-e2e

WIP: added capacity mode + tests
  src/storage/hp/primera/restapi/mode/capacity.pm
  src/storage/hp/primera/restapi/plugin.pm
  tests/robot/storage/hp/primera/restapi/capacity.robot
  tests/robot/storage/hp/primera/restapi/hpe-primera.mockoon.json
Owners: @centreon/owners-perl, @centreon/owners-robot-e2e

WIP: licenses mode with tests
  src/storage/hp/primera/restapi/mode/licenses.pm
  src/storage/hp/primera/restapi/plugin.pm
  tests/robot/storage/hp/primera/restapi/hpe-primera.mockoon.json
  tests/robot/storage/hp/primera/restapi/licenses.robot
Owners: @centreon/owners-perl, @centreon/owners-robot-e2e

WIP: added packaging, now the tests will run
  packaging/centreon-plugin-Hardware-Storage-Hpe-Primera-Restapi/deb.json
  packaging/centreon-plugin-Hardware-Storage-Hpe-Primera-Restapi/pkg.json
  packaging/centreon-plugin-Hardware-Storage-Hpe-Primera-Restapi/rpm.json
Owners: @centreon/owners-pipelines

WIP: added volumes mode + tests + fix on licenses.pm
  src/storage/hp/primera/restapi/mode/licenses.pm
  src/storage/hp/primera/restapi/mode/volumeusage.pm
  src/storage/hp/primera/restapi/plugin.pm
  tests/robot/storage/hp/primera/restapi/hpe-primera.mockoon.json
Owners: @centreon/owners-perl, @centreon/owners-robot-e2e

fix(help): fixed a typo
  src/storage/hp/primera/restapi/mode/diskusage.pm
Owners: @centreon/owners-perl

WIP: added tests to volumeusage
  tests/robot/storage/hp/primera/restapi/volumeusage.robot
Owners: @centreon/owners-robot-e2e

refacto(mode): renamed the mode volumeusage --> volume-usage
  src/storage/hp/primera/restapi/plugin.pm
  tests/robot/storage/hp/primera/restapi/volumeusage.robot
Owners: @centreon/owners-perl, @centreon/owners-robot-e2e

WIP: disks discovery
  src/storage/hp/primera/restapi/mode/listdisks.pm
  src/storage/hp/primera/restapi/plugin.pm
  tests/robot/storage/hp/primera/restapi/listdisks.robot
Owners: @centreon/owners-perl, @centreon/owners-robot-e2e

WIP: minor indentation changes for volume usage
  src/storage/hp/primera/restapi/mode/volumeusage.pm
Owners: @centreon/owners-perl

enh(mode): improved the output of disk-usage mode
  src/storage/hp/primera/restapi/mode/diskusage.pm
  tests/robot/storage/hp/primera/restapi/diskusage.robot
Owners: @centreon/owners-perl, @centreon/owners-robot-e2e

WIP: cleaned up the custom mode
  src/storage/hp/primera/restapi/custom/api.pm
Owners: @centreon/owners-perl

enh(mode+tests): added offline nodes counter
  src/storage/hp/primera/restapi/mode/nodes.pm
  tests/robot/storage/hp/primera/restapi/nodes.robot
Owners: @centreon/owners-perl, @centreon/owners-robot-e2e

WIP: added volumes discovery
  src/storage/hp/primera/restapi/mode/listvolumes.pm
  src/storage/hp/primera/restapi/plugin.pm
  tests/robot/storage/hp/primera/restapi/listvolumes.robot
Owners: @centreon/owners-perl, @centreon/owners-robot-e2e

enh(mode): added the ability to filter volumes by id + tests
  src/storage/hp/primera/restapi/mode/diskstatus.pm
  src/storage/hp/primera/restapi/mode/diskusage.pm
  src/storage/hp/primera/restapi/mode/volumeusage.pm
  tests/robot/storage/hp/primera/restapi/volumeusage.robot
Owners: @centreon/owners-perl, @centreon/owners-robot-e2e

WIP: added nodes mode + tests + anonimized
  src/storage/hp/primera/restapi/mode/nodes.pm
  src/storage/hp/primera/restapi/plugin.pm
  tests/robot/storage/hp/primera/restapi/hpe-primera.mockoon.json
  tests/robot/storage/hp/primera/restapi/nodes.robot
  tests/robot/storage/hp/primera/restapi/volumeusage.robot
Owners: @centreon/owners-perl, @centreon/owners-robot-e2e

WIP: enh diskstatus added filter options + improved disk identification
  src/storage/hp/primera/restapi/mode/diskstatus.pm
  tests/robot/storage/hp/primera/restapi/diskstatus.robot
Owners: @centreon/owners-perl, @centreon/owners-robot-e2e

newm(mode): disk usage
  src/storage/hp/primera/restapi/mode/diskusage.pm
  src/storage/hp/primera/restapi/plugin.pm
  tests/robot/storage/hp/primera/restapi/capacity.robot
  tests/robot/storage/hp/primera/restapi/diskstatus.robot
  tests/robot/storage/hp/primera/restapi/diskusage.robot
  tests/robot/storage/hp/primera/restapi/licenses.robot
  tests/robot/storage/hp/primera/restapi/listdisks.robot
  tests/robot/storage/hp/primera/restapi/listvolumes.robot
  tests/robot/storage/hp/primera/restapi/nodes.robot
  tests/robot/storage/hp/primera/restapi/volumeusage.robot
Owners: @centreon/owners-perl, @centreon/owners-robot-e2e

enh(style): reindented api.pm
  src/storage/hp/primera/restapi/custom/api.pm
Owners: @centreon/owners-perl

enh(review): took Evan's review into account
  src/storage/hp/primera/restapi/custom/api.pm
  src/storage/hp/primera/restapi/mode/capacity.pm
  src/storage/hp/primera/restapi/mode/licenses.pm
  src/storage/hp/primera/restapi/mode/nodes.pm
  src/storage/hp/primera/restapi/plugin.pm
Owners: @centreon/owners-perl

fix(spellcheck): Add new plugin spell check exclusion
  src/storage/hp/primera/restapi/custom/api.pm
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-perl, @centreon/owners-robot-e2e

feat: new plugin hpe primera api (#5115)
  packaging/centreon-plugin-Hardware-Storage-Hpe-Primera-Restapi/deb.json
  packaging/centreon-plugin-Hardware-Storage-Hpe-Primera-Restapi/pkg.json
  packaging/centreon-plugin-Hardware-Storage-Hpe-Primera-Restapi/rpm.json
  src/hardware/devices/hikvision/nvr/snmp/mode/disks.pm
  src/os/as400/connector/mode/command.pm
  src/os/as400/connector/mode/disks.pm
  src/os/as400/connector/mode/jobqueues.pm
  src/os/as400/connector/mode/subsystems.pm
  src/storage/hp/primera/restapi/custom/api.pm
  src/storage/hp/primera/restapi/mode/capacity.pm
  src/storage/hp/primera/restapi/mode/diskstatus.pm
  src/storage/hp/primera/restapi/mode/diskusage.pm
  src/storage/hp/primera/restapi/mode/licenses.pm
  src/storage/hp/primera/restapi/mode/listdisks.pm
  src/storage/hp/primera/restapi/mode/listvolumes.pm
  src/storage/hp/primera/restapi/mode/nodes.pm
  src/storage/hp/primera/restapi/mode/volumeusage.pm
  src/storage/hp/primera/restapi/plugin.pm
  tests/resources/spellcheck/stopwords.t
  tests/robot/storage/hp/primera/restapi/capacity.robot
  tests/robot/storage/hp/primera/restapi/diskstatus.robot
  tests/robot/storage/hp/primera/restapi/diskusage.robot
  tests/robot/storage/hp/primera/restapi/hpe-primera.mockoon.json
  tests/robot/storage/hp/primera/restapi/licenses.robot
  tests/robot/storage/hp/primera/restapi/listdisks.robot
  tests/robot/storage/hp/primera/restapi/listvolumes.robot
  tests/robot/storage/hp/primera/restapi/nodes.robot
  tests/robot/storage/hp/primera/restapi/volumeusage.robot
Owners: @centreon/owners-pipelines, @centreon/owners-perl, @centreon/owners-robot-e2e

enh(plugin): notification::microsoft::office365::teams::mode::alert - add workflow (#5124)
  .github/actions/package-nfpm/action.yml
  src/notification/microsoft/office365/teams/custom/workflowapi.pm
  src/notification/microsoft/office365/teams/mode/alert.pm
  src/notification/microsoft/office365/teams/plugin.pm
Owners: @centreon/owners-pipelines, @centreon/owners-perl

.github/CODEOWNERS:

*                   @centreon/owners-connectors

*.md                @centreon/owners-doc
*.mdx               @centreon/owners-doc

*.cmake             @centreon/owners-cpp
CMakeLists.txt      @centreon/owners-cpp
Makefile            @centreon/owners-cpp

*.pm                @centreon/owners-perl
*.pl                @centreon/owners-perl

*.py                @centreon/owners-python

*.sh                @centreon/owners-bash

tests/**            @centreon/owners-robot-e2e

.github/**          @centreon/owners-pipelines
packaging/**        @centreon/owners-pipelines
selinux/**          @centreon/owners-pipelines
.github/scripts/pod_spell_check.t  @centreon/owners-perl
