Repository centreon/centreon-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-connectors, @centreon/owners-doc, @centreon/owners-cpp, @centreon/owners-perl, @centreon/owners-python, @centreon/owners-bash, @centreon/owners-robot-e2e, @centreon/owners-pipelines

CTOR-728 Plugin(network::sonus::sbc::snmp) - Mode(cpu) : Unknown option (#5110)
  src/network/sonus/sbc/snmp/mode/cpu.pm
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-perl, @centreon/owners-robot-e2e

Ctor 713 custom cloud kuberneted custom change kubenetes api path v1beta in v1 (#5109)
  src/cloud/kubernetes/custom/api.pm
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-perl, @centreon/owners-robot-e2e

Adding -no-auto-depends option for deb
  .github/workflows/perl-cpan-libraries.yml
Owners: @centreon/owners-pipelines

test mode(jobs)
  tests/robot/apps/automation/ansible/tower/jobs.robot
Owners: @centreon/owners-robot-e2e

test
  tests/robot/apps/automation/ansible/tower/jobs.robot
Owners: @centreon/owners-robot-e2e

Adding paws dependencies
  .github/workflows/perl-cpan-libraries.yml
Owners: @centreon/owners-pipelines

fix lint
  .github/workflows/perl-cpan-libraries.yml
Owners: @centreon/owners-pipelines

test
  tests/resources/resources.resource
  tests/robot/apps/automation/ansible/tower/jobs.robot
Owners: @centreon/owners-robot-e2e

format update to run tests
  src/apps/automation/ansible/tower/plugin.pm
Owners: @centreon/owners-perl

update to fix spell check
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-robot-e2e

fix(library and packaging): patch fpm to use it with debian for Paws (#5108)
  .github/patch/fpm-deb.rb.diff
  .github/workflows/perl-cpan-libraries.yml
Owners: @centreon/owners-pipelines

fix(library and packaging): add missing dependencies for Paws
  .github/workflows/perl-cpan-libraries.yml
Owners: @centreon/owners-pipelines

Fix jobs unitialized messages
  src/apps/backup/rubrik/restapi/mode/jobs.pm
  tests/robot/apps/backup/rubrik/restapi/jobs.json
  tests/robot/apps/backup/rubrik/restapi/jobs.robot
Owners: @centreon/owners-perl, @centreon/owners-robot-e2e

Fix jobs unitialized messages
  tests/robot/apps/backup/rubrik/restapi/jobs.robot
Owners: @centreon/owners-robot-e2e

fix(library and packaging): add missing dependencies for Paws (#5113)
  .github/workflows/perl-cpan-libraries.yml
Owners: @centreon/owners-pipelines

Suppression des fichiers du plugin fortiauthentificor
  src/network/fortinet/fortiauthenticator/restapi/custom/api.pm
  src/network/fortinet/fortiauthenticator/restapi/mode/.fortitokens.pm.swp
  src/network/fortinet/fortiauthenticator/restapi/mode/fortitokens.pm
  src/network/fortinet/fortiauthenticator/restapi/plugin.pm
Owners: @centreon/owners-perl, @centreon/owners-connectors

Create plugin.pm
  src/apps/antivirus/skyhigh/webgateway/snmp/plugin.pm
Owners: @centreon/owners-perl

Create client.pm
  src/apps/antivirus/skyhigh/webgateway/snmp/mode/client.pm
Owners: @centreon/owners-perl

Create connections.pm
  src/apps/antivirus/skyhigh/webgateway/snmp/mode/connections.pm
Owners: @centreon/owners-perl

Create detections.pm
  src/apps/antivirus/skyhigh/webgateway/snmp/mode/detections.pm
Owners: @centreon/owners-perl

Create ftpstatistics.pm
  src/apps/antivirus/skyhigh/webgateway/snmp/mode/ftpstatistics.pm
Owners: @centreon/owners-perl

Create httpsstatistics.pm
  src/apps/antivirus/skyhigh/webgateway/snmp/mode/httpsstatistics.pm
Owners: @centreon/owners-perl

Create httpstatistics.pm
  src/apps/antivirus/skyhigh/webgateway/snmp/mode/httpstatistics.pm
Owners: @centreon/owners-perl

Create system.pm
  src/apps/antivirus/skyhigh/webgateway/snmp/mode/system.pm
Owners: @centreon/owners-perl

Create versions.pm
  src/apps/antivirus/skyhigh/webgateway/snmp/mode/versions.pm
Owners: @centreon/owners-perl

Fix typos, missing and wrong options in help pods
  src/apps/protocols/http/mode/jsoncontent.pm
  src/hardware/devices/camera/avigilon/snmp/mode/memory.pm
  src/hardware/devices/camera/avigilon/snmp/mode/temperature.pm
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-perl, @centreon/owners-robot-e2e

Update tests/robot/apps/automation/ansible/tower/hosts.robot
  tests/robot/apps/automation/ansible/tower/hosts.robot
Owners: @centreon/owners-robot-e2e

Update tests/robot/apps/automation/ansible/tower/jobs.robot
  tests/robot/apps/automation/ansible/tower/jobs.robot
Owners: @centreon/owners-robot-e2e

tests(plugins): Run all tests on arm64 architecture
  .github/workflows/plugins.yml
  src/centreon/plugins/dbi.pm
Owners: @centreon/owners-pipelines, @centreon/owners-perl

fix spell checker
  src/centreon/plugins/dbi.pm
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-perl, @centreon/owners-robot-e2e

refactor telda.robot
  tests/robot/network/teldat/snmp/teldat.robot
Owners: @centreon/owners-robot-e2e

fix(spell): added stopwords
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-robot-e2e

enh(custommode): add support of 3CX v18 and higher
  src/apps/voip/3cx/restapi/custom/api.pm
  src/apps/voip/3cx/restapi/plugin.pm
Owners: @centreon/owners-perl

mod
  tests/robot/network/teldat/snmp/teldat.robot
Owners: @centreon/owners-robot-e2e

to run test
  src/network/teldat/snmp/plugin.pm
Owners: @centreon/owners-perl

Apply suggestions from code review
  src/network/teldat/snmp/mode/cellsradio.pm
  src/network/teldat/snmp/mode/interfaces.pm
Owners: @centreon/owners-perl

fix spellcheck
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-robot-e2e

Update tests/resources/resources.resource
  tests/resources/resources.resource
Owners: @centreon/owners-robot-e2e

Fix robot test (example value for criticalstatus)
  tests/robot/network/teldat/snmp/teldat.robot
Owners: @centreon/owners-robot-e2e

split the tests
  tests/robot/network/teldat/snmp/cellsradio.robot
  tests/robot/network/teldat/snmp/cpu.robot
  tests/robot/network/teldat/snmp/memory.robot
Owners: @centreon/owners-robot-e2e

.github/CODEOWNERS:

*                   @centreon/owners-connectors

*.md                @centreon/owners-doc
*.mdx               @centreon/owners-doc

*.cmake             @centreon/owners-cpp
CMakeLists.txt      @centreon/owners-cpp
Makefile            @centreon/owners-cpp

*.pm                @centreon/owners-perl
*.pl                @centreon/owners-perl

*.py                @centreon/owners-python

*.sh                @centreon/owners-bash

tests/**            @centreon/owners-robot-e2e

.github/**          @centreon/owners-pipelines
packaging/**        @centreon/owners-pipelines
selinux/**          @centreon/owners-pipelines
.github/scripts/pod_spell_check.t  @centreon/owners-perl
