Repository centreon/centreon-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-connectors, @centreon/owners-doc, @centreon/owners-cpp, @centreon/owners-perl, @centreon/owners-python, @centreon/owners-bash, @centreon/owners-robot-e2e, @centreon/owners-pipelines

.github/CODEOWNERS:

*                   @centreon/owners-connectors

*.md                @centreon/owners-doc
*.mdx               @centreon/owners-doc

*.cmake             @centreon/owners-cpp
CMakeLists.txt      @centreon/owners-cpp
Makefile            @centreon/owners-cpp

*.pm                @centreon/owners-perl
*.pl                @centreon/owners-perl

*.py                @centreon/owners-python

*.sh                @centreon/owners-bash

tests/**            @centreon/owners-robot-e2e

.github/**          @centreon/owners-pipelines
packaging/**        @centreon/owners-pipelines
selinux/**          @centreon/owners-pipelines
.github/scripts/pod_spell_check.t  @centreon/owners-perl

enh(help): enhanced the PODs
  src/network/nokia/isam/snmp/mode/cpu.pm
  src/network/nokia/isam/snmp/mode/hardware.pm
  src/network/nokia/isam/snmp/mode/hubsapusage.pm
  src/network/nokia/isam/snmp/mode/listhubsap.pm
  src/network/nokia/isam/snmp/mode/memory.pm
Owners: @centreon/owners-perl

Apply suggestions from code review
  src/network/nokia/isam/snmp/mode/hardware.pm
Owners: @centreon/owners-perl

fix(spell): sorted the stopwords
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-robot-e2e

Update packaging/centreon-plugin-Network-Nokia-Isam-Snmp/pkg.json
  packaging/centreon-plugin-Network-Nokia-Isam-Snmp/pkg.json
Owners: @centreon/owners-pipelines

Refactor Linux SNMP DiskIO robot test to robot-example
  tests/robot/os/linux/snmp/diskio.robot
  tests/robot/os/linux/snmp/os-linux-snmp.robot
Owners: @centreon/owners-robot-e2e

Update diskio.pm
  src/snmp_standard/mode/diskio.pm
Owners: @centreon/owners-perl

new(packaging): nokia (formerly alcatel) isam snmp plugin (#5087)
  packaging/centreon-plugin-Network-Nokia-Isam-Snmp/deb.json
  packaging/centreon-plugin-Network-Nokia-Isam-Snmp/pkg.json
  packaging/centreon-plugin-Network-Nokia-Isam-Snmp/rpm.json
  src/network/nokia/isam/snmp/mode/components/cardtemperature.pm
  src/network/nokia/isam/snmp/mode/components/resources.pm
  src/network/nokia/isam/snmp/mode/components/sfp.pm
  src/network/nokia/isam/snmp/mode/cpu.pm
  src/network/nokia/isam/snmp/mode/hardware.pm
  src/network/nokia/isam/snmp/mode/hubsapusage.pm
  src/network/nokia/isam/snmp/mode/listhubsap.pm
  src/network/nokia/isam/snmp/mode/memory.pm
  src/network/nokia/isam/snmp/plugin.pm
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-pipelines, @centreon/owners-perl, @centreon/owners-robot-e2e

fix(library and packaging): package dependencies for paws cpan library for el8/el9 and package paws without using fpm for debian (#5065)
  .github/workflows/perl-cpan-libraries.yml
Owners: @centreon/owners-pipelines

fix(ci): remove centos7 from docker-builder matrix
  .github/workflows/docker-builder-packaging-plugins.yml
Owners: @centreon/owners-pipelines

remove centos7 from docker-builder matrix
  .github/workflows/docker-builder-packaging-plugins.yml
Owners: @centreon/owners-pipelines

fix(ci): remove centos7 from docker-builder matrix (#5097)
  .github/workflows/docker-builder-packaging-plugins.yml
Owners: @centreon/owners-pipelines

chore(deps): absorb 24.07 dependabot GitHub Actions updates (#5092)
  .github/workflows/docker-builder-packaging-plugins.yml
  .github/workflows/docker-builder-testing-plugins.yml
  .github/workflows/perl-cpan-libraries.yml
  .github/workflows/perl-crypt-argon2.yml
  .github/workflows/perl-json-path.yml
  .github/workflows/perl-libssh-session.yml
  .github/workflows/perl-net-curl.yml
  .github/workflows/plink.yml
  .github/workflows/plugins.yml
  .github/workflows/spellchecker.yml
Owners: @centreon/owners-pipelines

fix(cpan-libs): fix perl-mojo-ioloop-signal
  .github/workflows/perl-cpan-libraries.yml
Owners: @centreon/owners-pipelines

refactor and renaming test
  tests/robot/os/linux/snmp/list-diskio.robot
Owners: @centreon/owners-robot-e2e

Update diskio.pm
  src/snmp_standard/mode/diskio.pm
Owners: @centreon/owners-perl

Adding hosts test + fix a test to run locally
  tests/robot/apps/automation/ansible/tower/ansible_tower.json
  tests/robot/apps/automation/ansible/tower/hosts.robot
  tests/robot/apps/microsoft/hyperv/2012/local/nodeintegrationservice.robot
Owners: @centreon/owners-robot-e2e

MON-34540-gorgone-fix-perl-mojo-ioloop-signal-v3 (#5101)
  .github/workflows/perl-cpan-libraries.yml
Owners: @centreon/owners-pipelines

Use global variables for tests (usefull for local tests) + robotidy
  tests/resources/import.resource
  tests/resources/resources.resource
  tests/robot/apps/automation/ansible/tower/ansible_tower.json
  tests/robot/apps/automation/ansible/tower/hosts.robot
  tests/robot/apps/microsoft/hyperv/2012/local/nodeintegrationservice.robot
  tests/robot/apps/protocols/http/collection-centreon-web.robot
  tests/robot/apps/protocols/snmp/collection-sputnik.robot
  tests/robot/apps/protocols/snmp/hashicorp-password-manager.robot
  tests/robot/cloud/azure/policyinsights/policystates/cloud-azure-policyinsights-policystates.robot
  tests/robot/hardware/devices/camera/avigilon/snmp/memory.robot
  tests/robot/hardware/devices/camera/avigilon/snmp/storage.robot
  tests/robot/hardware/devices/camera/avigilon/snmp/temperature.robot
  tests/robot/hardware/kvm/avocent/acs/8000/hardware-kvm-avocent-acs-8000.robot
  tests/robot/hardware/sensors/apc/snmp/hardware-sensors-apc-snmp.robot
  tests/robot/hardware/ups/inmatics/sputnik/snmp/hardware-ups-sputnik-snmp.robot
  tests/robot/hardware/ups/socomec/netvision/snmp/hardware-ups-socomec-netvision-snmp.robot
  tests/robot/hardware/ups/standard/snmp/hardware-ups-standard-snmp.robot
  tests/robot/network/aruba/instant/snmp/aruba-instant-ap-usage.robot
  tests/robot/network/cisco/meraki/cloudcontroller/restapi/vpntunnels.robot
  tests/robot/network/citrix/netscaler/snmp/mode/components/netscaler-health.robot
  tests/robot/network/fortinet/fortigate/snmp/network-fortinet-fortigate-snmp.robot
  tests/robot/network/teldat/snmp/teldat.robot
  tests/robot/os/linux/snmp/list-diskio.robot
  tests/robot/os/linux/snmp/network-interfaces.robot
  tests/robot/os/windows/snmp/services.robot
  tests/robot/storage/datacore/restapi/storage-datacore-restapi.robot
  tests/robot/storage/synology/snmp/storage-synology-snmp.robot
Owners: @centreon/owners-robot-e2e

Fix spellcheck
  src/network/teldat/snmp/mode/uptime.pm
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-perl, @centreon/owners-robot-e2e

Fix spellcheck
  src/network/teldat/snmp/mode/interfaces.pm
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-perl, @centreon/owners-robot-e2e

enh(plugin): add --since-hours to apps::automation::ansible::tower::mode::jobs
  src/apps/automation/ansible/tower/mode/jobs.pm
Owners: @centreon/owners-perl

fix(plugin): fix wrong check from 8047def4.
  src/apps/automation/ansible/tower/mode/jobs.pm
Owners: @centreon/owners-perl

Patch fpm to fix debian issue
  .github/patchs/fpm-deb.rb.diff
  .github/workflows/perl-cpan-libraries.yml
Owners: @centreon/owners-pipelines

Add needed dependencies
  .github/patch/fpm-deb.rb.diff
  .github/workflows/perl-cpan-libraries.yml
Owners: @centreon/owners-pipelines

Add legacy option
  src/cloud/kubernetes/custom/api.pm
Owners: @centreon/owners-perl

typo
  src/cloud/kubernetes/custom/api.pm
Owners: @centreon/owners-perl

update
  .github/workflows/perl-cpan-libraries.yml
Owners: @centreon/owners-pipelines

change option name
  src/cloud/kubernetes/custom/api.pm
Owners: @centreon/owners-perl

typo
  src/cloud/kubernetes/custom/api.pm
Owners: @centreon/owners-perl

Fix spellcheck
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-robot-e2e

Fix spellcheck
  src/cloud/kubernetes/custom/api.pm
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-perl, @centreon/owners-robot-e2e

Fix spellcheck
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-robot-e2e

Fix spellcheck
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-robot-e2e

fix lib used
  src/network/sonus/sbc/snmp/mode/cpu.pm
Owners: @centreon/owners-perl

fix spellcheck
  src/network/sonus/sbc/snmp/mode/cpu.pm
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-perl, @centreon/owners-robot-e2e

add pod dependency
  .github/workflows/perl-cpan-libraries.yml
Owners: @centreon/owners-pipelines

fix spellcheck
  tests/resources/spellcheck/stopwords.t
Owners: @centreon/owners-robot-e2e

new test mode(jobs)
  tests/robot/apps/automation/ansible/tower/jobs.robot
Owners: @centreon/owners-robot-e2e

new test mode(jobs)
  tests/robot/apps/automation/ansible/tower/jobs.robot
Owners: @centreon/owners-robot-e2e

update
  .github/workflows/perl-cpan-libraries.yml
Owners: @centreon/owners-pipelines
