Repository centreon/centreon-plugins, pull requests merged in 2025-06, with the labels that each got.

#5602 CTOR-1561: Add new modes certificates
  src/network/f5/bigip/snmp/mode/certificates.pm
  src/network/f5/bigip/snmp/plugin.pm
  tests/network/f5/bigip/snmp/certificates.robot
  tests/network/f5/bigip/snmp/certificates.snmpwalk
  tests/network/f5/bigip/snmp/certificates_date.pm
Labels: skip-workflow-plugins, skip-workflow-plugins-analysis

#5600 enh(vmware-daemon): add missing logrotate file
  connectors/vmware/packaging/centreon-plugin-virtualization-vmware-daemon.yaml
  connectors/vmware/packaging/config/logrotate/centreon_vmware
Labels: upload-artifacts, skip-workflow-connector-vmware, skip-workflow-plugins-analysis

#5612 fix(ci): add concurrency to gitleaks workflow
  .github/workflows/gitleaks.yml
Labels: skip-workflow-plugins-analysis

#5621 fix(ci): add missing entry for distrib noble in test-packages perl cp…
  .github/workflows/perl-cpan-libraries.yml
Labels: skip-workflow-perl-cpan-libraries, skip-workflow-plugins-analysis

#5626 enh(cpan-libraires): update cpan libs for noble
  .github/workflows/perl-cpan-libraries.yml
Labels: skip-workflow-perl-cpan-libraries, skip-workflow-plugins-analysis

#5627 Sync release 20250600
  .github/workflows/generic-plugins.yml
  .github/workflows/perl-cpan-libraries.yml
Labels: skip-workflow-perl-cpan-libraries, skip-workflow-plugins-analysis

#5636 chore(ci): update maven from 3.8.8 to 3.8.9 in packaging dockerfiles
  .github/docker/packaging/Dockerfile.packaging-plugins-java-alma8
  .github/docker/packaging/Dockerfile.packaging-plugins-java-alma9
  .github/docker/packaging/Dockerfile.packaging-plugins-java-jammy
  .github/docker/packaging/Dockerfile.packaging-plugins-java-noble
Labels: skip-workflow-docker-builder-packaging-plugins, skip-workflow-plugins-analysis

#5610 Plugin(database::mysql::plugin) - Mode(dbi,mysqlcmd): Error when retrieving the server version
  src/database/mysql/dbi.pm
  src/database/mysql/mysqlcmd.pm
Labels: skip-workflow-plugins, skip-workflow-plugins-analysis

#5643 CTOR-1644: Mode(list-pods) : autodisco failure when a pod IP is empty
  packaging/centreon-plugin-Cloud-Kubernetes-Api/rpm.json
  src/cloud/kubernetes/mode/listpods.pm
  tests/cloud/kubernetes/cloud-kubernetes-list-pods.mockoon.json
  tests/cloud/kubernetes/listpods.robot
Labels: skip-workflow-plugins, skip-workflow-plugins-analysis

#5646 fix(apps::podman::restapi): fixed api endpoint for container-usage CTOR-1794
  src/apps/podman/restapi/custom/api.pm
Labels: skip-workflow-plugins, skip-workflow-plugins-analysis
