Repository centreon/centreon-plugins, pull requests merged in 2025-10, with the labels that each got.

#5801 Plugin(network::cisco::meraki::cloudcontroller::restapi): check api path
  src/network/cisco/meraki/cloudcontroller/restapi/custom/api.pm
Labels: skip-workflow-plugins

#5799 fix(ci): add missing libraries for debian bullseye and ubunutu jammy
  .github/workflows/perl-cpan-libraries.yml
Labels: skip-workflow-perl-cpan-libraries

#5793 fix(ci): force usage of specific npm package versions
  .github/actions/create-jira-ticket/action.yml
  .github/docker/testing/Dockerfile.testing-plugins-alma8
  .github/docker/testing/Dockerfile.testing-plugins-alma9
  .github/docker/testing/Dockerfile.testing-plugins-bookworm
  .github/docker/testing/Dockerfile.testing-plugins-bullseye
  .github/docker/testing/Dockerfile.testing-plugins-jammy
  .github/docker/testing/Dockerfile.testing-plugins-noble
Labels: skip-workflow-docker-builder-testing-plugins
